.info_for_product {
    width: 240px;
    margin-right: 20px;
  &_title {
    font-size: 36px;
    line-height: 110%;
  }
  &_subtitle {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 130%;
  }
  &_btn {
    cursor: pointer;
    transition: all 0.2s;
    font-size: 16px;
    line-height: 21px;
    width: 240px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #a46c46;
    background: transparent;
    border-radius: 8px;
    transition: all 0.2s;

    &:hover {
        color: #fff;
        background: #a46c46;
    }
  }
}

.slider {
    &__block {
        width: calc(100% - 260px);
    }
    &__wrapper {
        display: flex;
    
    }
}