.blog-inside {
  .bread-crumbs {
    &__mob {
      display: none;
      align-items: center;

      span {
        margin-left: 4px;
      }
    }
  }

  &__center {
    box-sizing: content-box;
    display: flex;
    max-width: 1428px;
    margin-top: 40px;
    padding: 0 0 104px 8%;
  }

  &__block {
    width: 100%;

    &-img {
      img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    &-info {
      max-width: 820px;
    }

    &-title {
      margin: 20px 0;
      font-size: 30px;
    }

    &-text {
      color: #89817c;

      p {
        font-size: 20px;
        line-height: 130%;
      }

      p + p {
        margin-top: 20px;
      }
    }
  }

  &__sidebar {
    position: sticky;
    top: 9%;
    max-width: 424px;
    height: 100%;
    margin-left: 106px;

    &-title {
      margin: 0 0 24px;
      font-size: 24px;
    }

    &-items {
      .blog_item {
        width: 100%;

        &_info {
          width: calc(100% - 18px);
        }
      }

      .blog_item + .blog_item {
        margin-top: 40px;
      }
    }
  }

  &__swiper {
    display: none;
    margin-top: 48px;

    &-title {
      margin-bottom: 16px;
      font-size: 20px;
    }
  }

  @media (max-width: 1440px) {
    &__center {
      max-width: none;
      padding: 0 0 104px 0;
    }

    &__sidebar {
      max-width: 320px;
      margin-left: 50px;
    }
  }

  @media (max-width: 1024px) {
    &__center {
      margin-top: 20px;
      padding-bottom: 80px;
    }

    &__block {
      &-info {
        max-width: none;
      }

      &-title {
        margin: 24px 0 16px;
        font-size: 24px;
      }

      &-text {
        p {
          font-size: 16px;
        }
      }
    }

    &__sidebar {
      max-width: 280px;
      margin-left: 40px;

      &-title {
        margin: 0 0 20px;
        font-size: 20px;
      }

      &-items {
        .blog_item {
          &_info {
            width: 100%;
            padding: 0;
          }
        }

        .blog_item + .blog_item {
          margin-top: 30px;
        }
      }
    }
  }

  @media (max-width: 828px) {
    .bread-crumbs {
      display: block;

      span,
      a {
        display: none;
      }

      &__mob {
        display: flex !important;

        span {
          display: block !important;
        }
      }
    }
  }

  @media (max-width: 720px) {
    .bread-crumbs {
      padding: 20px 20px 0;
    }

    .container {
      padding: 0;
    }

    &__center {
      flex-direction: column;
      align-items: center;
      margin-top: 16px;
      padding-bottom: 78px;
    }

    &__block {
      &-img {
        img {
          border-radius: 0;
        }
      }

      &-info {
        padding: 0 20px;
      }

      &-title {
        font-size: 20px;
      }

      &-text {
        p {
          font-size: 14px;
        }
      }
    }

    &__sidebar {
      display: none;
    }

    &__swiper {
      display: block;
      padding: 0 20px;

      .blog {
        gap: 0;
      }

      .blog_item {
        max-width: 328px;
        width: 100%;
      }
    }
  }

  @media (max-width: 500px) {
    &__block {
      &-img {
        img {
          max-height: 220px;
        }
      }
    }
  }

  @media (max-width: 400px) {
    &__swiper {
      .blog_item {
        max-width: none;
      }
    }
  }
}
