version: '3.8'

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - web

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./config/certbot:/etc/letsencrypt
    depends_on:
      - web

  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - static_volume:/app/static_root
      - media_volume:/app/media
    environment:
      - DEBUG=True
      - NOVA_POSHTA_API_KEY=${NOVA_POSHTA_API_KEY}
      - DB_ENGINE=django.db.backends.sqlite3
      - DB_NAME=/app/db.sqlite3
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"

volumes:
  static_volume:
  media_volume: 