.blog-inside {
  &__center {
    box-sizing: content-box;
    display: flex;
    max-width: 1428px;
    margin-top: 40px;
    padding: 0 0 104px 8%;
  }

  &__block {
    width: 100%;

    &-img {
      img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    &-info {
      max-width: 820px;
    }

    &-title {
      font-size: 30px;
    }

    &-text {
      color: #89817c;

      p {
        font-size: 20px;
        line-height: 130%;

        & + & {
          margin-top: 20px;
        }
      }
    }
  }

  &__sidebar {
    position: sticky;
    top: 9%;
    max-width: 424px;
    height: 100%;
    margin-left: 106px;

    &-title {
      margin: 0 0 24px;
      font-size: 24px;
    }

    &-items {
      .blog_item {
        width: 100%;

        &_info {
          width: calc(100% - 18px);
        }
      }

      .blog_item + .blog_item {
        margin-top: 40px;
      }
    }
  }
}
