.input {
  &-transparent {
    background-color: transparent;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #89817c;
    width: 100%;

    font-family: "Futura PT Medium", sans-serif;
    font-weight: 450;
    font-size: 16px;
    line-height: 130%;
    // color: #89817C;
  }
}
