.contacts-modal {
  &__close-btn {
    img {
    }
  }

  &__container {
  }

  &__info {
    max-width: 400px;

    &-top {
    }

    &-details {
      margin-top: 36px;

      &-item {
        transition: all 0.25s;

        &:hover {
          a {
            color: #a46c46;
          }
        }
      }
    }
  }

  &__title {
    font-size: 30px;
  }

  &__description {
    max-width: 356px;
    margin-top: 6px;
  }

  &__phone {
    color: #453f3a;
    font-size: 32px;
  }

  &__address {
    margin-top: 7px;
    color: #89817c;
    font-size: 20px;
  }

  &__inst {
    max-width: 22px;
    max-height: 22px;
    margin-top: 17px;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__feedback-form {
    max-width: 440px;
    margin-top: 60px;

    &-fields {
    }

    &-field {
      input,
      textarea {
      }

      textarea {
        min-height: 41.8px;
        height: 41.8px;
        resize: vertical;
      }
    }

    &-buttons {
      margin-top: 40px;
    }

    &-info {
      margin-top: 10px;

      &-text {
        color: #6c757d;
        font-size: 14px;
        line-height: 130%;
      }
    }
  }

  &__send-application-btn {
    max-width: 214px;
  }
}
