.header {
  position: relative;
  z-index: 999;
  padding: 25px 0;
}

.header_top_panel {
  &__block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebeae8;
  }
  &_info {
    &__block {
      display: flex;
    }
  }
  &_clock {
    align-items: flex-start;
    display: flex;

    img {
      margin-right: 15px;
      margin-top: 4px;
    }

    &_info {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      line-height: 22px;
    }
    &_subtext {
      font-size: 14px;
    }
  }

  &_nav {
    &__block {
      width: 100%;
      max-width: 600px;
    }
    &_list {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: end;

      li {
        display: flex;
        width: auto;
        margin-left: 30px;
        a {
          display: flex;
          width: 100%;
        }
      }
    }
    &_link {
      font-size: 16px;
      line-height: 21px;
    }
  }
}

.header_bottom_panel {
  &__block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    background: #fff;
    padding: 15px 7% 15px;
    transition: transform 0.3s ease-out;

    &.fixed {
      position: fixed;
      top: 0;
    }
  }
  &_logo {
    cursor: pointer;
    margin-right: 30px;
    .white {
      display: none;
    }
  }
  &_catalog {
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    min-width: 140px;
    width: 140px;
    height: 50px;
    background: #a46c46;
    border-radius: 8px;
    margin-left: 30px;
    margin-right: 30px;
    &_label {
      font-size: 16px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
    }
    &_lines {
      transform: scale(0.1);
      position: relative;
      margin-right: 70px;

      svg {
        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 1.5;
        cursor: pointer;
      }

      svg path {
        fill: none;
        stroke: white;
        stroke-width: 2px;
      }

      svg + svg {
        margin-left: 1.5rem;
      }

      h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
        margin-bottom: 2rem;
      }

      .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      #top,
      #bottom {
        stroke-dasharray: 30, 75.39;
        transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
      }

      .rocket #top {
        stroke-dasharray: 30, 88;
      }
    }

    &_bg {
      pointer-events: none;
      z-index: -1;
      transition: all 0.2s;
      position: fixed;
      left: 0;
      top: 174px;
      opacity: 0;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(
        180deg,
        rgba(69, 63, 58, 0.7) 0%,
        rgba(69, 63, 58, 0.6) 100%
      );

      &.active {
        pointer-events: initial;
        z-index: 1;
        opacity: 12313;
      }

      &.fixed {
        top: 80px !important;
        opacity: 1;
      }
    }
    &.active {
      svg #top,
      svg #bottom {
        stroke-dasharray: 75.39;
        stroke-dashoffset: -60;
      }
    }
    &_content {
      pointer-events: none;
      transition: all 0.2s;
      position: fixed;
      display: flex;
      flex-wrap: wrap;
      opacity: 0;
      z-index: -1;
      left: 50%;
      top: 55px;
      width: calc(100% - 14%);
      transform: translateX(-50%);
      padding: 20px;
      padding-bottom: 10px;
      background: #ffffff;
      border-radius: 0px 0px 10px 10px;

      &.active {
        opacity: 1;
        top: 173px;
        z-index: 9;
        pointer-events: initial;
      }
      &.fixed {
        top: 80px;
      }

      &_item {
        position: relative;
        left: 0;
        transition: all 0.2s;
        font-size: 20px;
        width: calc(25% - 20px);
        min-width: 330px;
        margin: 0px 10px;
        margin-bottom: 25px;
        cursor: pointer;

        &:hover {
          left: 8px;
          color: #a46c46;
        }
      }
    }
  }

  &_left_content {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &_search {
    position: relative;
    display: flex;
    align-items: center;
    width: 620px;
    max-width: 620px;
    height: 50px;
    background: #ebeae8;
    border-radius: 8px;

    &_input {
      outline: none;
      border: unset;
      padding: 0px 20px;
      background: transparent;
      height: 100%;
      width: calc(100% - 50px);
    }
    &_label {
      position: relative;
      z-index: 9;
    }
    &_icon {
      display: flex;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 30px;
    }
  }
  &_nav {
    display: flex;
    align-items: center;
  }
  &_item {
    display: flex;
    align-items: center;
    margin-left: 40px;
    &_icon {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 15px;

      span {
        padding-left: 6px;
        font-size: 16px;
      }
    }
    &_label {
      font-size: 18px;
    }
  }
}

.header_widget_wrapper {
  .header_bottom_panel_cart {
    display: none;
  }
}

.header_content__block {
  &.mobile {
    display: none;
  }
}
.catalog_bg_right {
  display: none;
}

.header_close_menu {
  display: none;
}
@media (max-width: 1600px) {
  .header_bottom_panel_search {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .header_bottom_panel_catalog {
    margin: 0px 15px;
  }
  .header_bottom_panel_logo {
    margin-right: 15px;
  }
  .header_bottom_panel_item {
    margin-left: 20px;
  }
}

@media (max-width: 1024px) {
  .header_info {
    &_title {
      font-size: 18px;
      margin-bottom: 20px;
    }
    &_link {
      display: flex;
      font-size: 16px;
      margin-bottom: 10px;
    }
    &__block {
      display: flex;
      justify-content: space-between;
    }
  }
  .header_payment_info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    img {
      margin: 0px 10px;
    }
  }
  .header_catalog_scroll {
    overflow-y: auto;
    height: 100%;
    max-height: 200px;
    overflow-x: hidden;
    padding-right: 6px;
    margin-top: 25px;
    margin-bottom: 60px;
  }
  .header_mob_icon {
    display: flex;
    align-items: center;
    margin-right: 15px;
    &__block {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    &_item {
      display: flex;
      align-items: center;
    }
    &_text {
      font-size: 12px;
    }
    &_count {
      font-size: 12px;
      margin-left: 4px;
    }
  }
  .header_content__block {
    pointer-events: none;
    transition: all 0.2s;
    position: fixed;
    top: 0;
    z-index: 9999;
    opacity: 0;
    &.mobile {
      width: 100%;
      left: 0;
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
    }
    &.active {
      pointer-events: initial;

      top: 90px;
      opacity: 1;
    }
  }
  .header_close_menu {
    display: flex;
  }
  .catalog_bg_right {
    display: flex;
  }
  .header_bottom_panel_catalog_bg {
    top: 58px !important;
    background: #89817c;
    width: 51%;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top: 1px solid #fff;
    border-right: 1px solid #89817c;
    border-left: 1px solid #89817c;

    &.catalog_bg_left {
      right: unset;
      left: -100%;

      &.active {
        left: 0;
      }
    }

    &.catalog_bg_right {
      left: unset;
      right: -100%;

      &.active {
        right: 0;
      }
    }

    &.active,
    &.fixed {
      top: 58px !important;
      opacity: 1;
    }
  }
  .header {
    padding: 0;
    height: 0;
  }
  .header_widget_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    right: 100px;

    .header_bottom_panel_cart {
      display: flex;
    }
  }
  .header_bottom_panel__block {
    position: fixed;
    padding: 12px 20px;
  }
  .header_top_panel__block {
    display: none;
  }
  .header_bottom_panel_left_content {
    justify-content: space-between;
  }
  .header_bottom_panel_nav {
    display: none;
  }
  .header_bottom_panel_catalog {
    position: absolute;
    right: 20px;
    height: 34px;
    margin: 0;
    width: 83px;
    min-width: 83px;

    .header_bottom_panel_catalog_label {
      font-size: 12px;
      right: 11px;
    }
    .header_bottom_panel_catalog_lines {
      transform: scale(0.05);
      position: relative;
      margin-right: 50px;
    }
    .header_bottom_panel_catalog_content {
      display: none;
    }
  }
  .header_bottom_panel_search_icon {
    right: 12px;
  }
  .header_bottom_panel_search {
    transition: all 0.2s;
    height: 34px;
    background: transparent;
    input {
      transition: all 0.2s;

      width: 1px;
      opacity: 0;
    }
    &.active {
      background: #ebeae8;

      input {
        padding: 0px 40px 0px 10px;
        width: 200px;
        opacity: 1;
      }
    }
  }
  .header_bottom_panel_logo {
    width: 36px;
    img {
      width: 100%;
    }
  }

  .header_close_menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fffcf2;
    border-radius: 8px;
    height: 34px;
    margin: 0;
    width: 83px;
    top: -30px;
    right: 20px;
    &_title {
      font-size: 12px;
    }

    .cross {
      position: relative;
      height: 10px;
      width: 10px;
      margin-right: 0px;
    }

    .cross::before,
    .cross::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: #a46c46;
    }

    .cross::before {
      transform: rotate(45deg);
    }

    .cross::after {
      transform: rotate(-45deg);
    }
  }

  .header {
    .header_bottom_panel__block {
      transition: all 0.2s;
      transition-delay: 0.1s;
      top: 0;
    }
    .animate_header {
      &_1 {
        transition: all 0.2s;
        top: 0;
      }
      &_2 {
        position: relative;
        transition: all 0.2s;
        transition-delay: 0.1s;
        top: 0;
      }
      &_3 {
        transition: all 0.2s;
        transition-delay: 0.3s;

        .header_bottom_panel_catalog_label,
        .header_bottom_panel_catalog_lines {
          transition: all 0.2s;
          transition-delay: 0.3s;
          opacity: 1;
        }

        opacity: 1;
      }
      &_4 {
        position: relative;
        transition: all 0.2s;
        transition-delay: 0.2s;

        img {
          top: 50%;
          transform: translateY(-50%);
        }
        .black {
          position: absolute;
          transition: all 0.2s;
          transition-delay: 0.2s;
          opacity: 1;
          left: 0px;
        }
        .white {
          display: flex;
          position: absolute;
          transition: all 0.2s;
          transition-delay: 0.2s;
          opacity: 0;
          left: -40px;
        }
      }
      &_5 {
        transition: all 0.2s;
        transition-delay: 0.2s;
        opacity: 0;
      }
    }

    &.active {
      .header_bottom_panel__block {
        background: #89817c;
      }

      .animate_header {
        &_1,
        &_2 {
          top: -60px;
        }
        &_3 {
          background: transparent;
          .header_bottom_panel_catalog_label,
          .header_bottom_panel_catalog_lines {
            opacity: 0;
          }
        }
        &_4 {
          .black {
            left: -60px;
            opacity: 0;
          }
          .white {
            left: 0;
            opacity: 1;
          }
        }
        &_5 {
          top: 10px;
          opacity: 1;
        }
      }
    }
  }
}
