.accordion {
    display: flex;
    flex-direction: column;

    position: relative;
    padding: 10px 15px;
    width: 100%;
    margin: 0;

    &_link {
        text-transform: uppercase;
        display: flex;
    }

    &__block {
        display: flex;
        justify-content: center;

        background: #fff;
        flex-direction: column;
        align-items: flex-start;
    }

    &_content {
        position: relative;
        width: 100%;
        box-shadow: unset;

        transition: all .2s;
        visibility: hidden;
        opacity: 0;
        max-height: 1px;
        height: auto;
        display: flex;
        flex-direction: column;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 15px;
        border-radius: 4px;
        background: #fff;
        z-index: -1;

        &__block {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 13px;
                right: 14px;
                height: 1px;
                background: #000;
                top: 20px;
            }

            &::before {
                transition: all .2s;
                content: '';
                position: absolute;
                width: 1px;
                right: 20px;
                height: 12px;
                background: #000;
                top: 15px;
            }

            &.active {
                .accordion_content {
                    top: 0;
                    opacity: 1;
                    z-index: 9;
                    visibility: visible;
                    max-height: 1000px;
                }

                &::before {
                    opacity: 0;
                }
            }
        }
    }
}