.validation {
  &_container {
    position: relative;
  }
  &_error {
    position: absolute;
    bottom: -15px;
    left: 12px;
    width: 100%;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    font-size: 12px;
    color: #dc2a1c;
  }
}
