.profile {
  padding-bottom: 104px;

  &__center {
    display: flex;
    margin-top: 30px;
  }

  &__sidebar {
    min-width: 160px;
    max-width: 212px;
    width: 100%;
    color: #453f3a;
    line-height: 130%;

    &-bottom {
      margin-top: 24px;
    }
  }

  &__user {
    &-info {
      display: flex;
      justify-content: space-between;
      padding-left: 4px;

      &-right {
        margin-left: 15px;
      }
    }

    &-name {
      font-size: 18px;
    }

    &-phone {
      font-size: 14px;
    }

    &-edit-btn {
      display: flex;
      align-items: flex-end;
      transition: all 0.25s;

      span {
        display: none;
        padding-left: 8px;
      }

      &:hover {
        transform: scale(1.4);
      }
    }

    &-exit-btn {
      display: flex;
      align-items: flex-end;
      max-width: 70px;
      max-height: 24px;
      transition: all 0.25s;

      img {
        width: 100%;
        height: 100%;
      }

      span {
        padding-left: 8px;
      }

      &:hover {
        transform: scale(1.2);
        color: #a46c46;
      }
    }
  }

  &__orders {
    margin-left: 53px;
  }

  &__title {
    margin: 0;
  }

  @media (max-width: 1024px) {
    padding-bottom: 80px;
  }

  @media (max-width: 828px) {
    &__center {
      margin-top: 18px;
    }
  }

  @media (max-width: 720px) {
    padding-bottom: 48px;

    &__center {
      flex-direction: column;
    }

    &__sidebar {
      min-width: auto;
      max-width: none;

      &-bottom {
        margin-top: 16px;
      }
    }

    &__user {
      &-name {
        font-size: 16px;
      }

      &-edit-btn {
        img {
          width: 24px;
          height: 24px;
        }

        span {
          display: block;
        }

        &:hover {
          transform: scale(1);
          color: #a46c46;
        }
      }

      &-exit-btn {
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
