.profile {
  padding-bottom: 104px;

  &__center {
    display: flex;
    margin-top: 30px;
  }

  &__sidebar {
    max-width: 212px;
    width: 100%;
    color: #453f3a;
    line-height: 130%;

    &-bottom {
      margin-top: 24px;
    }
  }

  &__user {
    &-info {
      display: flex;
      justify-content: space-between;
      padding-left: 4px;

      &-left {
      }

      &-right {
        margin-left: 15px;
      }
    }

    &-name {
      font-size: 18px;
    }

    &-phone {
      font-size: 14px;
    }

    &-edit-btn {
      transition: all 0.25s;

      img {
      }

      &:hover {
        transform: scale(1.3);
      }
    }

    &-exit-btn {
      display: flex;
      align-items: flex-end;
      transition: all 0.25s;

      span {
        margin-left: 8px;
      }

      &:hover {
        color: #a46c46;
      }
    }
  }

  &__orders {
    margin-left: 53px;
  }

  &__title {
    margin: 0;
  }
}
