/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
.first_section {
  padding-top: 70px; }

.container {
  width: 100%;
  padding: 0px 7%; }

@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0px 20px; }
  .first_section {
    padding-top: 58px; } }

::-webkit-scrollbar {
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  background-color: #a46c46; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #94603e; }

* {
  box-sizing: border-box;
  font-family: "Futura PT Book", sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased; }

li {
  list-style: none;
  margin: 0;
  padding: 0; }

html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

textarea {
  max-width: 100%;
  min-width: 100%;
  border: solid 1px #cccccc;
  background-color: #fefefe; }

/**
 * Remove default margin.
 */
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #fff; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a {
  transition: 0.3s; }
  a:active, a:hover {
    outline: 0;
    transition: 0.3s; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent; } }

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

.header {
  position: relative;
  z-index: 999;
  padding: 25px 0; }

.header_top_panel__block {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebeae8; }

.header_top_panel_info__block {
  display: flex; }

.header_top_panel_clock {
  align-items: flex-start;
  display: flex; }
  .header_top_panel_clock img {
    margin-right: 15px;
    margin-top: 4px; }
  .header_top_panel_clock_info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 22px; }
  .header_top_panel_clock_subtext {
    font-size: 14px; }

.header_top_panel_nav__block {
  width: 100%;
  max-width: 600px; }

.header_top_panel_nav_list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end; }
  .header_top_panel_nav_list li {
    display: flex;
    width: auto;
    margin-left: 30px; }
    .header_top_panel_nav_list li a {
      display: flex;
      width: 100%; }

.header_top_panel_nav_link {
  font-size: 16px;
  line-height: 21px; }

.header_bottom_panel__block {
  width: 100%;
  left: 0;
  padding: 0px 7%;
  padding-bottom: 15px;
  padding-top: 15px;
  position: absolute;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease-out; }
  .header_bottom_panel__block.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }

.header_bottom_panel_logo {
  cursor: pointer;
  margin-right: 30px; }
  .header_bottom_panel_logo .white {
    display: none; }

.header_bottom_panel_catalog {
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  width: 140px;
  height: 50px;
  background: #a46c46;
  border-radius: 8px;
  margin-left: 30px;
  margin-right: 30px; }
  .header_bottom_panel_catalog_label {
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px; }
  .header_bottom_panel_catalog_lines {
    transform: scale(0.1);
    position: relative;
    margin-right: 70px; }
    .header_bottom_panel_catalog_lines svg {
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 1.5;
      cursor: pointer; }
    .header_bottom_panel_catalog_lines svg path {
      fill: none;
      stroke: white;
      stroke-width: 2px; }
    .header_bottom_panel_catalog_lines svg + svg {
      margin-left: 1.5rem; }
    .header_bottom_panel_catalog_lines h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      text-align: center;
      margin-bottom: 2rem; }
    .header_bottom_panel_catalog_lines .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
    .header_bottom_panel_catalog_lines #top,
    .header_bottom_panel_catalog_lines #bottom {
      stroke-dasharray: 30, 75.39;
      transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29); }
    .header_bottom_panel_catalog_lines .rocket #top {
      stroke-dasharray: 30, 88; }
  .header_bottom_panel_catalog_bg {
    pointer-events: none;
    z-index: -1;
    transition: all 0.2s;
    position: fixed;
    left: 0;
    top: 174px;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(69, 63, 58, 0.7) 0%, rgba(69, 63, 58, 0.6) 100%); }
    .header_bottom_panel_catalog_bg.active {
      pointer-events: initial;
      z-index: 1;
      opacity: 12313; }
    .header_bottom_panel_catalog_bg.fixed {
      top: 80px !important;
      opacity: 1; }
  .header_bottom_panel_catalog.active svg #top,
  .header_bottom_panel_catalog.active svg #bottom {
    stroke-dasharray: 75.39;
    stroke-dashoffset: -60; }
  .header_bottom_panel_catalog_content {
    pointer-events: none;
    transition: all 0.2s;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    z-index: -1;
    left: 50%;
    top: 55px;
    width: calc(100% - 14%);
    transform: translateX(-50%);
    padding: 20px;
    padding-bottom: 10px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px; }
    .header_bottom_panel_catalog_content.active {
      opacity: 1;
      top: 173px;
      z-index: 9;
      pointer-events: initial; }
    .header_bottom_panel_catalog_content.fixed {
      top: 80px; }
    .header_bottom_panel_catalog_content_item {
      position: relative;
      left: 0;
      transition: all 0.2s;
      font-size: 20px;
      width: calc(25% - 20px);
      min-width: 330px;
      margin: 0px 10px;
      margin-bottom: 25px;
      cursor: pointer; }
      .header_bottom_panel_catalog_content_item:hover {
        left: 8px;
        color: #a46c46; }

.header_bottom_panel_left_content {
  display: flex;
  align-items: center;
  width: 100%; }

.header_bottom_panel_search {
  position: relative;
  display: flex;
  align-items: center;
  width: 620px;
  max-width: 620px;
  height: 50px;
  background: #ebeae8;
  border-radius: 8px; }
  .header_bottom_panel_search_input {
    outline: none;
    border: unset;
    padding: 0px 20px;
    background: transparent;
    height: 100%;
    width: calc(100% - 50px); }
  .header_bottom_panel_search_label {
    position: relative;
    z-index: 9; }
  .header_bottom_panel_search_icon {
    display: flex;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 30px; }

.header_bottom_panel_nav {
  display: flex;
  align-items: center; }

.header_bottom_panel_item {
  display: flex;
  align-items: center;
  margin-left: 40px; }
  .header_bottom_panel_item_icon {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 15px; }
    .header_bottom_panel_item_icon span {
      padding-left: 6px;
      font-size: 16px; }
  .header_bottom_panel_item_label {
    font-size: 18px; }

.header_widget_wrapper .header_bottom_panel_cart {
  display: none; }

.header_content__block.mobile {
  display: none; }

.catalog_bg_right {
  display: none; }

.header_close_menu {
  display: none; }

@media (max-width: 1600px) {
  .header_bottom_panel_search {
    width: 100%; } }

@media (max-width: 1100px) {
  .header_bottom_panel_catalog {
    margin: 0px 15px; }
  .header_bottom_panel_logo {
    margin-right: 15px; }
  .header_bottom_panel_item {
    margin-left: 20px; } }

@media (max-width: 1024px) {
  .header_info_title {
    font-size: 18px;
    margin-bottom: 20px; }
  .header_info_link {
    display: flex;
    font-size: 16px;
    margin-bottom: 10px; }
  .header_info__block {
    display: flex;
    justify-content: space-between; }
  .header_payment_info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center; }
    .header_payment_info img {
      margin: 0px 10px; }
  .header_catalog_scroll {
    overflow-y: auto;
    height: 100%;
    max-height: 200px;
    overflow-x: hidden;
    padding-right: 6px;
    margin-top: 25px;
    margin-bottom: 60px; }
  .header_mob_icon {
    display: flex;
    align-items: center;
    margin-right: 15px; }
    .header_mob_icon__block {
      display: flex;
      align-items: center;
      justify-content: space-around; }
    .header_mob_icon_item {
      display: flex;
      align-items: center; }
    .header_mob_icon_text {
      font-size: 12px; }
    .header_mob_icon_count {
      font-size: 12px;
      margin-left: 4px; }
  .header_content__block {
    pointer-events: none;
    transition: all 0.2s;
    position: fixed;
    top: 0;
    z-index: 9999;
    opacity: 0; }
    .header_content__block.mobile {
      width: 100%;
      left: 0;
      padding: 0px 20px;
      display: flex;
      flex-direction: column; }
    .header_content__block.active {
      pointer-events: initial;
      top: 90px;
      opacity: 1; }
  .header_close_menu {
    display: flex; }
  .catalog_bg_right {
    display: flex; }
  .header_bottom_panel_catalog_bg {
    top: 58px !important;
    background: #89817c;
    width: 51%;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top: 1px solid #fff;
    border-right: 1px solid #89817c;
    border-left: 1px solid #89817c; }
    .header_bottom_panel_catalog_bg.catalog_bg_left {
      right: unset;
      left: -100%; }
      .header_bottom_panel_catalog_bg.catalog_bg_left.active {
        left: 0; }
    .header_bottom_panel_catalog_bg.catalog_bg_right {
      left: unset;
      right: -100%; }
      .header_bottom_panel_catalog_bg.catalog_bg_right.active {
        right: 0; }
    .header_bottom_panel_catalog_bg.active, .header_bottom_panel_catalog_bg.fixed {
      top: 58px !important;
      opacity: 1; }
  .header {
    padding: 0;
    height: 0; }
  .header_widget_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    right: 100px; }
    .header_widget_wrapper .header_bottom_panel_cart {
      display: flex; }
  .header_bottom_panel__block {
    position: fixed;
    padding: 12px 20px; }
  .header_top_panel__block {
    display: none; }
  .header_bottom_panel_left_content {
    justify-content: space-between; }
  .header_bottom_panel_nav {
    display: none; }
  .header_bottom_panel_catalog {
    position: absolute;
    right: 20px;
    height: 34px;
    margin: 0;
    width: 83px;
    min-width: 83px; }
    .header_bottom_panel_catalog .header_bottom_panel_catalog_label {
      font-size: 12px;
      right: 11px; }
    .header_bottom_panel_catalog .header_bottom_panel_catalog_lines {
      transform: scale(0.05);
      position: relative;
      margin-right: 50px; }
    .header_bottom_panel_catalog .header_bottom_panel_catalog_content {
      display: none; }
  .header_bottom_panel_search_icon {
    right: 12px; }
  .header_bottom_panel_search {
    transition: all 0.2s;
    height: 34px;
    background: transparent; }
    .header_bottom_panel_search input {
      transition: all 0.2s;
      width: 1px;
      opacity: 0; }
    .header_bottom_panel_search.active {
      background: #ebeae8; }
      .header_bottom_panel_search.active input {
        padding: 0px 40px 0px 10px;
        width: 200px;
        opacity: 1; }
  .header_bottom_panel_logo {
    width: 36px; }
    .header_bottom_panel_logo img {
      width: 100%; }
  .header_close_menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fffcf2;
    border-radius: 8px;
    height: 34px;
    margin: 0;
    width: 83px;
    top: -30px;
    right: 20px; }
    .header_close_menu_title {
      font-size: 12px; }
    .header_close_menu .cross {
      position: relative;
      height: 10px;
      width: 10px;
      margin-right: 0px; }
    .header_close_menu .cross::before,
    .header_close_menu .cross::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: #a46c46; }
    .header_close_menu .cross::before {
      transform: rotate(45deg); }
    .header_close_menu .cross::after {
      transform: rotate(-45deg); }
  .header .header_bottom_panel__block {
    transition: all 0.2s;
    transition-delay: 0.1s;
    top: 0; }
  .header .animate_header_1 {
    transition: all 0.2s;
    top: 0; }
  .header .animate_header_2 {
    position: relative;
    transition: all 0.2s;
    transition-delay: 0.1s;
    top: 0; }
  .header .animate_header_3 {
    transition: all 0.2s;
    transition-delay: 0.3s;
    opacity: 1; }
    .header .animate_header_3 .header_bottom_panel_catalog_label,
    .header .animate_header_3 .header_bottom_panel_catalog_lines {
      transition: all 0.2s;
      transition-delay: 0.3s;
      opacity: 1; }
  .header .animate_header_4 {
    position: relative;
    transition: all 0.2s;
    transition-delay: 0.2s; }
    .header .animate_header_4 img {
      top: 50%;
      transform: translateY(-50%); }
    .header .animate_header_4 .black {
      position: absolute;
      transition: all 0.2s;
      transition-delay: 0.2s;
      opacity: 1;
      left: 0px; }
    .header .animate_header_4 .white {
      display: flex;
      position: absolute;
      transition: all 0.2s;
      transition-delay: 0.2s;
      opacity: 0;
      left: -40px; }
  .header .animate_header_5 {
    transition: all 0.2s;
    transition-delay: 0.2s;
    opacity: 0; }
  .header.active .header_bottom_panel__block {
    background: #89817c; }
  .header.active .animate_header_1, .header.active .animate_header_2 {
    top: -60px; }
  .header.active .animate_header_3 {
    background: transparent; }
    .header.active .animate_header_3 .header_bottom_panel_catalog_label,
    .header.active .animate_header_3 .header_bottom_panel_catalog_lines {
      opacity: 0; }
  .header.active .animate_header_4 .black {
    left: -60px;
    opacity: 0; }
  .header.active .animate_header_4 .white {
    left: 0;
    opacity: 1; }
  .header.active .animate_header_5 {
    top: 10px;
    opacity: 1; } }

.footer {
  background-color: #F4F3EE;
  background-repeat: no-repeat;
  background-position: center; }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5% 0; }
  .footer_form {
    width: 20%; }
    .footer_form_title {
      margin-bottom: 20px; }
    .footer_form_input {
      margin: 30px 0 12px 0; }
    .footer_form [type="submit"] {
      margin-top: 20px; }
  .footer__right {
    display: flex; }
  .footer__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .footer__column:first-child {
      margin-right: 100px; }
    .footer__column a img {
      margin-right: 20px; }
  .footer__links {
    display: flex;
    flex-direction: column; }
    .footer__links a {
      color: #89817C;
      margin-bottom: 30px; }
      .footer__links a:hover {
        color: #a46c46; }
  .footer .accept {
    color: #89817C;
    border-bottom: 1px solid #89817C;
    font-size: 14px; }

.small {
  font-family: "Futura PT Book", sans-serif; }

.medium {
  font-family: "Futura PT Medium", sans-serif; }

.bold {
  font-family: "Futura PT Bold", sans-serif; }

.color_black {
  color: #453f3a; }
  .color_black_sub {
    color: #89817c; }

.color_white {
  color: #fffcf2; }

.color_gold {
  color: #a46c46; }

.font-size-18 {
  font-size: 18px; }

.font-size-36 {
  font-size: 36px; }

.flex {
  display: flex;
  align-items: center; }

.title {
  display: flex;
  align-items: center; }
  .title h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #453F3A; }
  .title span {
    margin-left: 20px;
    color: #89817c; }

.input-transparent {
  background-color: transparent;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #89817C;
  width: 100%;
  font-weight: 450;
  font-size: 16px;
  line-height: 130%; }

.cart_item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 312px;
  width: 25%;
  padding: 1%; }
  .cart_item_wrapper {
    display: flex;
    flex-wrap: wrap; }
  .cart_item_img {
    width: 100%;
    height: 420px;
    text-align: center; }
    .cart_item_img img {
      object-fit: cover;
      width: 100%;
      height: 95%;
      max-width: 365px; }
  .cart_item_new {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100px;
    background: #a46c46;
    border-radius: 10px 0px;
    font-size: 16px;
    line-height: 21px; }
  .cart_item_price {
    font-size: 20px;
    line-height: 26px;
    margin-right: 12px; }
    .cart_item_price__block {
      position: relative;
      align-items: center;
      display: flex; }
  .cart_item_procent {
    font-size: 16px;
    line-height: 21px;
    margin-right: 12px;
    display: flex;
    align-items: center; }
  .cart_item_old_price {
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    text-decoration-line: line-through; }
  .cart_item_add_to_favorite {
    cursor: pointer;
    transition: all 0.2s;
    position: absolute;
    top: -9px;
    right: 0;
    opacity: 0.6;
    transform: scale(1);
    padding: 10px; }
    .cart_item_add_to_favorite path {
      transition: all 0.2s;
      fill: #89817c; }
    .cart_item_add_to_favorite:hover {
      opacity: 1;
      transform: scale(1.1); }
      .cart_item_add_to_favorite:hover path {
        fill: #a46c46; }
    .cart_item_add_to_favorite.active {
      opacity: 1;
      transform: scale(1.1); }
      .cart_item_add_to_favorite.active path {
        fill: #a46c46; }
  .cart_item_title {
    font-size: 22px;
    line-height: 130%;
    margin: 10px 0; }
  .cart_item_size {
    cursor: pointer;
    transition: all 0.2s;
    background: #fffcf2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 4px;
    border-radius: 50px;
    width: 80px;
    font-size: 16px;
    line-height: 130%; }
    .cart_item_size.active, .cart_item_size:hover {
      background: #89817c;
      color: #fff; }
    .cart_item_size__block {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 -4px; }

.blog {
  display: flex;
  width: 100%; }
  .blog_item {
    display: block;
    transition: all 0.3;
    width: 32%;
    margin: 1%; }
    .blog_item:hover {
      transform: scale(1.02); }
    .blog_item_img {
      width: 100%;
      height: 55%;
      max-height: 300px; }
      .blog_item_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px; }
    .blog_item_info {
      padding: 0 5px; }
    .blog_item_title {
      font-size: 22px;
      line-height: 130%;
      color: #453F3A;
      margin-top: 16px; }
    .blog_item_text {
      font-size: 20px;
      line-height: 130%;
      color: #89817C;
      margin-top: 10px; }

.accordion {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 15px;
  width: 100%;
  margin: 0; }
  .accordion_link {
    text-transform: uppercase;
    display: flex; }
  .accordion__block {
    display: flex;
    justify-content: center;
    background: #fff;
    flex-direction: column;
    align-items: flex-start; }
  .accordion_content {
    position: relative;
    width: 100%;
    box-shadow: unset;
    transition: all .2s;
    visibility: hidden;
    opacity: 0;
    max-height: 1px;
    height: auto;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    border-radius: 4px;
    background: #fff;
    z-index: -1; }
    .accordion_content__block {
      position: relative; }
      .accordion_content__block::after {
        content: '';
        position: absolute;
        width: 13px;
        right: 14px;
        height: 1px;
        background: #000;
        top: 20px; }
      .accordion_content__block::before {
        transition: all .2s;
        content: '';
        position: absolute;
        width: 1px;
        right: 20px;
        height: 12px;
        background: #000;
        top: 15px; }
      .accordion_content__block.active .accordion_content {
        top: 0;
        opacity: 1;
        z-index: 9;
        visibility: visible;
        max-height: 1000px; }
      .accordion_content__block.active::before {
        opacity: 0; }

.catalog_inside {
  display: flex; }
  .catalog_inside_filter {
    width: 20%; }


/*# sourceMappingURL=index.css.map*/