.custom-select {
  position: relative;
  user-select: none;

  &.active {
    .custom-select__head img {
      transform: rotate(180deg);
    }

    .custom-select__body {
      display: block;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    border-bottom: 1px solid #89817c;

    font-family: "Futura PT Medium", sans-serif;
    font-size: 14px;
    font-weight: 450;
    line-height: 130%;

    cursor: pointer;

    input {
      border: none;
      padding: 0;
    }
  }

  &__body {
    position: absolute;
    display: none;
    width: 100%;
    background-color: #fff;
    margin-top: 2px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(62, 19, 77, 0.07);
    z-index: 50;
  }

  &__list {
    margin: 0;
    padding: 0;
    max-height: 620px;
    overflow: auto;

    &-item {
      padding: 12px 11px;
      transition: all 0.2s;
      cursor: pointer;
      list-style-type: none;

      &.active {
        background-color: #ebeae8;
      }

      &:first-child {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }

      &:last-child {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:hover {
        color: #fff;
        background-color: #a46c46;
      }
    }

    &-item + &-item {
      border-top: 1px solid #ebeae8;
    }
  }
}
