.footer {
    background-color: #F4F3EE;
    background-repeat: no-repeat;
    background-position: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 5% 0;
    }

    &_form {
        width: 20%;

        &_title {
            margin-bottom: 20px;
        }

        &_text {

        }

        &_input {
            margin: 30px 0 12px 0;
        }

        [type="submit"] {
            margin-top: 20px;
        }
    }

    &__right {
        display: flex;
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:first-child {
            margin-right: 100px;
        }

       a {
        img {
            margin-right: 20px;
        }
       }
    }

    &__links {
        display: flex;
        flex-direction: column;


        a {
            color: #89817C;
            margin-bottom: 30px;
            &:hover {
                color: #a46c46;
            }
        }
    }

    .accept {
        color: #89817C;
        border-bottom: 1px solid #89817C;
        font-size: 14px;
    }
}
