.cart_item {
  position: relative;
  display: flex;
  flex-direction: column;
  //   min-width: 312px;
  // width: 25%;
  width: 100%;
  // padding: 1%;

  &_wrapper {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
  }

  &_img {
    width: 100%;
    height: 420px;
    text-align: center;
    img {
      object-fit: cover;
      width: 100%;
      height: 95%;
      max-width: 365px;
    }
  }

  &_new {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100px;
    background: #a46c46;
    border-radius: 10px 0px;
    font-size: 16px;
    line-height: 21px;
  }

  &_price {
    font-size: 20px;
    line-height: 26px;
    margin-right: 12px;

    &__block {
      position: relative;
      // align-items: center;
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      padding: 0 8px;
    }
  }

  &_procent {
    font-size: 16px;
    line-height: 21px;
    margin-right: 12px;
    display: flex;
    align-items: center;
  }

  &_old_price {
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    text-decoration-line: line-through;
  }

  &_add_to_favorite {
    position: absolute;
    top: -9px;
    right: 0;
    // margin: 0 0 0 auto;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0.6;
    transform: scale(1);
    padding: 10px;

    path {
      transition: all 0.2s;
      fill: #89817c;
    }

    &:hover {
      opacity: 1;
      transform: scale(1.1);

      path {
        fill: #a46c46;
      }
    }

    &.active {
      opacity: 1;
      transform: scale(1.1);

      path {
        fill: #a46c46;
      }
    }
  }

  &_title {
    font-size: 22px;
    line-height: 130%;
    margin: 8px 0;
    padding: 0 8px;
  }

  &_size {
    cursor: pointer;
    transition: all 0.2s;
    background: #fffcf2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 4px;
    padding: 4px 8px;
    border-radius: 50px;
    width: 80px;
    font-size: 16px;
    line-height: 130%;

    &.active,
    &:hover {
      background: #89817c;
      color: #fff;
    }

    &__block {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 -4px;
      padding: 0 8px;
    }
  }

  @media (max-width: 1440px) {
    &_wrapper {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (max-width: 1024px) {
    &_wrapper {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      row-gap: 12px;
      column-gap: 14px;
    }

    &_img {
      height: 226px;
      img {
        height: 97.5%;
      }
    }

    &_new {
      width: 60px;
      padding: 4px 12px;
      font-size: 10px;
    }

    &_price {
      font-size: 14px;

      &__block {
        padding: 0 4px;
      }
    }

    &_procent {
      font-size: 12px;
    }

    &_old_price {
      font-size: 12px;
    }

    &_add_to_favorite {
      top: -6px;
    }

    &_title {
      font-size: 14px;
      margin: 4px 0 12px;
      padding: 0 4px;
    }

    &_size {
      font-size: 14px;

      &__block {
        padding: 0 4px;
      }
    }
  }

  @media (max-width: 800px) {
    &_wrapper {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (max-width: 600px) {
    min-width: 168px;

    &_wrapper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &_size {
      width: 64px;
      font-size: 12px;
    }
  }

  @media (max-width: 390px) {
    min-width: auto;

    &_size {
      width: 56px;
      font-size: 10px;
    }
  }
}
