.cart_item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 312px;
  width: 25%;
  padding: 1%;

  &_img {
    width: 100%;
    height: 420px;
    img {
      object-fit: cover;
    }
  }
  &_new {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100px;
    background: #a46c46;
    border-radius: 10px 0px;
    font-size: 16px;
    line-height: 21px;
  }

  &_price {
    font-size: 20px;
    line-height: 26px;
    margin-right: 12px;
    &__block {
      position: relative;
      align-items: center;
      display: flex;
    }
  }
  &_procent {
    font-size: 16px;
    line-height: 21px;
    margin-right: 12px;
    display: flex;
    align-items: center;
  }
  &_old_price {
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    text-decoration-line: line-through;
  }
  &_add_to_favorite {
    cursor: pointer;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
    transform: scale(1);
    path {
      transition: all 0.2s;
      fill: #89817c;
    }

    &:hover {
      opacity: 1;
      transform: scale(1.1);

      path {
        fill: #a46c46;
      }
    }

    &.active {
      opacity: 1;
      transform: scale(1.1);

      path {
        fill: #a46c46;
      }
    }
  }
  &_title {
    font-size: 22px;
    line-height: 130%;
    margin: 10px 0;
  }
  &_size {
    cursor: pointer;
    transition: all 0.2s;
    background: #fffcf2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 4px;
    border-radius: 50px;
    width: 80px;
    font-size: 16px;
    line-height: 130%;

    &.active,
    &:hover {
      background: #89817c;
      color: #fff;
    }
    &__block {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 -4px;
    }
  }
}
