<footer
      class="footer"
      style="background-image: url(/static/utils/assets/footer/mr.Carpet.png)"
    >
      <div class="container">
        <div class="footer__wrapper">
          <form action="#" class="footer_form font-size-18">
            <div class="footer_form_title medium color_black">
              Розсилка новин та акцій
            </div>
            <div class="footer_form_text color_black_sub">
              Ви бажаєте отримувати повідомлення про акції та розпродажі?
              Підпишіться на нашу розсилку новин
            </div>
            <div class="footer_form_input">
              <input
                class="input-transparent"
                type="email"
                name="email"
                placeholder="Поле пошти"
              />
            </div>

            <label for="accept">
              <input type="checkbox" id="accept" />
              <span class="accept">Приймаю умови розсилки</span>
            </label>

            <input
              type="submit"
              value="Підписатися на розсилку"
              class="info_for_product_btn medium color_gold"
            />
          </form>

          <div class="footer__right font-size-18">
            <div class="footer__column">
              <div class="footer__links">
                <div class="footer_form_title medium color_black">
                  Для покупця
                </div>
                <a href="#"> Про компанію </a>
                <a href="#"> Блог </a>
                <button class="modal_open" data-href="contacts-modal">
                  Контакти
                </button>
              </div>

              <a href="#" class="color_black_sub flex">
                <img src="/static/utils/assets/LogoBlack.svg" alt="" />
                © 2023 Mr.Carpet
              </a>
            </div>
            <div class="footer__column">
              <div class="footer__links">
                <div class="footer_form_title medium color_black">
                  Інтернет-магазин
                </div>
                <a href="{% url 'delivery' %}"> Доставка і оплата </a>
                <a href="#"> Повернення </a>
                <a href="#"> Умови і положення </a>
                <a href="#"> Політика конфіденційності </a>
              </div>

              <div class="flex">
                <a href="#" class="flex">
                  <img src="/static/utils/assets/footer/visa.svg" alt="visa" />
                </a>
                <a href="#" class="flex">
                  <img
                    src="/static/utils/assets/footer/mastercard.svg"
                    alt="mastercard"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>