.size-label {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  width: 100%;
  height: 29px;
  background-color: #fffcf2;
  padding: 4px 8px;
  color: #453f3a;
  font-size: 14px;
  line-height: 130%;
  border-radius: 50px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #89817c;
    color: #fff;
  }

  &.active {
    background-color: #89817c;
    color: #fff;
  }

  &.disabled {
    pointer-events: none;
  }

  @media (max-width: 1024px) {
    font-size: 14px;
    height: 26px;
  }

  @media (max-width: 600px) {
    max-width: 64px;
    font-size: 12px;
    height: 24px;
  }

  @media (max-width: 390px) {
    max-width: 56px;
    font-size: 10px;
  }
}
