// .modal_name {
//   display: none;
// }
// .modal__block_fast_buy {
//   .modal_name {
//     display: flex;
//     width: 100%;
//     text-align: center;
//     margin: 10px 0;
//   }
// }

// .field_error {
//   margin: 5px 0;
//   width: 100%;
//   text-align: center;
// }

// .order__block {
//   .validation_error {
//     bottom: -18px;
//     left: 10px;
//   }
// }
// .profile_section {
//   .validation_error {
//     bottom: -20px;
//     left: 10px;
//   }
// }

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #fffcf2;
  border-top: 4px solid #a46c46;
  border-radius: 100%;
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.modal {
  &_loading,
  &_accept,
  &_bad {
    &__block {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      visibility: hidden;
      opacity: 0;
      z-index: 99999;
      width: 200px;
      height: 200px;
      border-radius: 16px;

      &.active {
        transition: all 0.2s;
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &_accept,
  &_bad {
    &__block {
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      color: #fffcf2;
      font-size: 18px;
    }
    &_svg {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }

    &_text {
      width: 100%;
      text-align: center;
      font-size: 16px;
    }
  }
}
