.faq {
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 104px 0;
  }

  &__left {
    min-width: 606px;
    max-width: 606px;
    width: 100%;
  }

  &__title {
    margin: 0;
    font-size: 72px;
  }

  &__subtitle {
    margin-top: 16px;
    font-size: 22px;
  }

  &__right {
    max-width: 679px;
    width: 100%;
    margin-left: 50px;
  }

  &__items {
    margin-top: 43px;
  }

  &__question {
    padding: 8px 8px 12px;
    line-height: 130%;
    color: #453f3a;

    & + & {
      margin-top: 16px;
    }

    &.active {
      .faq__question-answer-text {
        margin-top: 8px;
      }
    }

    &-title {
      margin: 0;
      font-size: 22px;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.25s;
    }
  }

  @media (max-width: 1440px) {
    &__content {
      flex-direction: column;
    }

    &__left {
      min-width: auto;
      max-width: none;
      text-align: center;
    }

    &__right {
      max-width: none;
      margin-left: 0;
    }
  }

  @media (max-width: 1024px) {
    &__content {
      padding: 80px 0;
    }

    &__title {
      font-size: 52px;
    }

    &__subtitle {
      font-size: 18px;
    }
  }

  @media (max-width: 720px) {
    &__content {
      padding: 32px 0 48px;
    }

    &__title {
      font-size: 24px;
    }

    &__subtitle {
      margin-top: 8px;
      font-size: 14px;
    }

    &__items {
      margin-top: 32px;
    }

    &__right {
      // max-width: 679px;
      // width: 100%;
      // margin-left: 50px;
    }

    &__items {
      // margin-top: 43px;
    }

    &__question {
      &-title {
        font-size: 16px;
      }

      &-answer-text {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 0) {
    &__content {
      // display: flex;
      // justify-content: space-between;
      // padding: 104px 0;
    }

    &__left {
      // max-width: 606px;
      // width: 100%;
    }

    &__title {
      // margin: 0;
      // font-size: 72px;
    }

    &__subtitle {
      // margin-top: 16px;
      // font-size: 22px;
    }

    &__right {
      // max-width: 679px;
      // width: 100%;
      // margin-left: 50px;
    }

    &__items {
      // margin-top: 43px;
    }

    &__question {
      // padding: 8px 8px 12px;

      & + & {
        // margin-top: 16px;
      }

      &.active {
        .faq__question-answer-text {
          // margin-top: 8px;
        }
      }

      &-title {
        // margin: 0;
        // font-size: 22px;
      }

      &-answer-text {
      }
    }
  }
}
