.banner {
  &__center {
    background-image: url("/static/utils/assets/about/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    padding: 228px 0;

    &-inner-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1226px;
      width: 100%;
      margin: 0 auto;
    }

    &-left {
      max-width: 648px;
    }

    &-right {
      margin-left: 50px;
    }
  }

  &__title {
    font-size: 72px;
    line-height: normal;
  }

  &__carpets-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    li {
      transition: all 0.25s;

      a {
        color: #fffcf2;
        font-size: 24px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
