.about {
  &-title {
    text-align: center;
    color: #453f3a;
    font-size: 56px;
    font-weight: 400;
  }

  &-text {
    color: #453f3a;
    font-size: 22px;
    line-height: 130%;

    p + p {
      margin-top: 40px;
    }
  }
}
