.our-mission {
  padding: 104px 0;

  &__description {
    max-width: 720px;
    margin: 40px auto;
    text-align: center;
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__view-catalog-btn {
    max-width: 239px;
    width: 100%;
  }

  @media (max-width: 1024px) {
    padding: 80px 0;

    &__description {
      margin: 24px auto;
    }
  }

  @media (max-width: 720px) {
    padding: 48px 0;

    &__description {
      max-width: 320px;
      margin: 16px auto 24px;
    }

    &__view-catalog-btn {
      max-width: 350px;
    }
  }
}
