.repair {
  &__container {
    padding-top: 80px;
  }

  &__title {
  }

  &__items {
    display: flex;
    justify-content: center;
    gap: 60px;
    max-width: 1108px;
    margin: 80px auto 0;
  }

  &__carpet-block {
    display: flex;
    flex-direction: column;
    max-width: 524px;

    &-description {
      box-sizing: content-box;
      max-width: 390px;
    }

    &-img {
      img {
        width: 100%;
        border-radius: 4px;
        box-shadow: 0px 20px 60px 0px rgba(69, 63, 58, 0.3);
      }
    }

    &:nth-child(odd) {
      .repair__carpet-block-description {
        padding: 78px 0 104px 90px;
      }
    }

    &:nth-child(even) {
      flex-direction: column-reverse;

      .repair__carpet-block-description {
        align-self: flex-end;
        padding: 104px 90px 0 0;
      }
    }
  }
}
