.basket {
    width: 60%;
    margin-top: 60px;

    &_wrapper {
        // display: flex;
        // justify-content: space-between;
    }

    &_item {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        &__img {
            width: 148px;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__right {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__title {
            width: 50%;
        }

        &__block {
            text-align: center;

            span {
                font-weight: 450;
                font-size: 14px;
                line-height: 18px;
                color: #89817C;
            }
        }

        &_quantity {
            background: #FFFCF2;
            border-radius: 8px;
            padding: 10px;
        }

        &__delete {
            margin: auto 0;

            button {
                background: #EBEAE8;
                border-radius: 50px;
                width: 32px;
                height: 32px;
                border: none;
                transition: all .3s;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }

        .cart_item_title {
            margin: 0;
        }

        .cart_item_size {
            cursor: default;

            &:hover {
                color: #453f3a;
                background: #fffcf2;
            }
        }
    }

    &_right {
        &__wrapper {
            position: fixed;
            right: 7%;
            top: 20%;
        }

        max-width: 400px;
        font-weight: 400;
        font-size: 20px;
        line-height: 96%;
        color: #453F3A;

        padding: 20px;
        background: #EBEAE8;
        border-radius: 10px;
        margin-bottom: 25px;

        &_block {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            input {
                margin-right: 10px;
            }
        }

        &_btn {
            margin: 30px 0;

            .btn-gold {
                width: 100%;
            }
        }
    }
}