.catalog_inside {
  &__title {
    margin: 4px 0 0;
  }

  &__content {
    display: flex;
    margin-top: 60px;
  }

  &_filter {
    min-width: 240px;
    margin-right: 20px;

    &-btn {
      display: none;
      margin-top: 2px;
    }

    &-head {
      display: none;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-title {
      font-size: 20px;
      line-height: normal;
    }

    &-btn,
    &-close-btn {
      width: 28px;
      height: 28px;
      background-color: #ebeae8;
      margin-left: 20px;
      padding: 2px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.25s;

      img {
        width: 24px;
        height: 24px;
      }

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: translateY(4px) scale(1);
      }
    }

    &-body {
      margin-top: 36px;

      &-item {
        padding: 8px 8px 12px;

        &:first-child {
          margin-top: 8px;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 50px 0;

  a {
    color: #453f3a;
    font-weight: 450;
    font-size: 16px;
    margin-right: 5px;
    padding: 4px 12px;
    border-radius: 8px;

    &:hover {
      color: #fffcf2;
      background: #a46c46;
    }
    &.active {
      color: #fffcf2;
      background: #a46c46;
    }
  }
}

@media (max-width: 1200px) {
  .catalog_inside {
    &_filter {
      min-width: 200px;
    }
  }
}

@media (max-width: 1024px) {
  .catalog_inside {
    &__content {
      margin-top: 40px;
    }

    .cart_item_wrapper {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@media (max-width: 828px) {
  .catalog_inside {
    position: relative;

    .title {
      h1 {
        margin: 0;
      }
    }

    &-top {
      position: sticky;
      top: 58px;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      background-color: #fff;
      padding-bottom: 18px;
      z-index: 10;
    }

    &__content {
      margin-top: 0;
    }

    &_filter {
      position: fixed;
      top: 42px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 18px 20px 20px;
      z-index: 10;
      visibility: hidden;
      opacity: 0.5;
      transform: translateY(-50%) scaleY(0);
      transition: all 0.3s;

      &.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scaleY(1);
      }

      &-btn {
        display: block;
      }

      &-head {
        display: flex;
      }
    }
  }
}

@media (max-width: 600px) {
  .catalog_inside {
    .cart_item_wrapper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (max-width: 0px) {
  .catalog_inside {
    // display: flex;

    &_filter {
      //   min-width: 240px;
      //   margin-right: 20px;

      &-mob {
      }
    }
  }

  .pagination {
    // display: flex;
    // align-items: center;
    // justify-content: end;
    // padding: 50px 0;

    a {
      //   color: #453f3a;
      //   font-weight: 450;
      //   font-size: 16px;
      //   margin-right: 5px;
      //   padding: 4px 12px;
      //   border-radius: 8px;
    }
  }
}
