{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/about/index.css" />
{% endblock styles %}{% block content %}
<section class="banner first_section">
  <div class="container">
    <div class="bread-crumbs">
      <a href="#" class="color_black_sub">Головна</a>
      <span class="color_black_sub">/</span>
      <a href="#" class="color_gold">Про магазин</a>
    </div>
  </div>

  <div class="banner__center">
    <div class="container">
      <div class="banner__center-inner-wrapper">
        <div class="banner__center-left">
          <h2 class="banner__title color_white small">
            mr.Carpet —
            <br />
            зроблено з любов'ю!
          </h2>
        </div>
        <div class="banner__center-right">
          <ul class="banner__carpets-list">
            {% for category in categories %}
            <li>
              <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="repair">
  <div class="repair__container container">
    <h3 class="repair__title about-title">
      Даємо нове життя старому ремеслу.
    </h3>

    <div class="repair__items">
      <div class="repair__carpet-block">
        <p class="repair__carpet-block-description about-text">
          mr.Carpet є провідним постачальником якісних килимів для будь-яких
          інтер'єрів. Ми пропонуємо великий вибір килимів з різноманітними
          дизайнами, кольорами та матеріалами. Наші килими виготовляються з
          високоякісних матеріалів, що забезпечує їх довговічність та
          зносостійкість.
        </p>

        <div class="repair__carpet-block-img">
          <img src="/static/utils/assets/about/carpet-1.jpg" alt="carpet" />
        </div>
      </div>

      <div class="repair__carpet-block">
        <div class="repair__carpet-block-description about-text">
          <p>
            Наша компанія працює з кращими виробниками килимів у світі, що
            дозволяє нам завжди мати в наявності нові моделі та колекції. Ми
            прагнемо задовольнити потреби наших клієнтів та зробити їх
            домівки більш комфортними та затишними.
          </p>
          <p>
            Наша команда складається з досвідчених фахівців, які знають усе
            про килими та допоможуть вам знайти ідеальний варіант для вашого
            інтер'єру. Ми завжди готові надати професійну консультацію та
            пораду щодо вибору килима.
          </p>
        </div>

        <div class="repair__carpet-block-img">
          <img src="/static/utils/assets/about/carpet-2.jpg" alt="carpet" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="our-mission">
  <div class="our-mission__container container">
    <div class="our-mission__info">
      <h3 class="our-mission__title about-title">Наша місія.</h3>
      <p class="our-mission__description about-text">
        Наша місія - забезпечити нашим клієнтам якісні та естетичні килими
        за доступними цінами. Ми прагнемо створити максимально комфортні
        умови для наших клієнтів та забезпечити їх задоволення від нашої
        продукції. Замовляйте килими у нас та насолоджуйтеся комфортом та
        затишком у своєму будинку!
      </p>
    </div>

    <div class="our-mission__bottom">
      <a
        href="{% url 'catalog' %}"
        class="our-mission__view-catalog-btn btn btn-gold btn-gold-bordered small"
      >
        Переглянути каталог
      </a>
    </div>
  </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/about/index.js"></script>
{% endblock scripts %}
