{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/basket/index.css" />
{% endblock styles %}{% block content %}
<section class="basket first_section">
    <div class="container">
        <div class="bread-crumbs">
            <a href="{% url 'index' %}" class="color_black_sub">Головна</a>
            <span class="color_black_sub">/</span>
            <a href="{% url 'cart' %}" class="color_gold">Кошик</a>
        </div>

        <div class="title">
            <h1>Кошик</h1>
            <span>{{ cart_products|length }} товари</span>
        </div>

        <div class="basket__center">
            <div class="basket__left">
                <div class="basket__items">
                    {% for cart_product in cart_products %}
                    <div class="basket_item">
                        <div class="basket_item__img">
                            <img src="{{ cart_product.product_attr.product.image.url }}" alt="" />
                        </div>
                        <div class="basket_item__right">
                            <div class="basket_item__title">
                                <div class="cart_item_title small color_black">
                                    {{ cart_product.product_attr.product.title }}
                                </div>

                                <ul class="basket_item-sizes">
                                    <li class="size-label">{{ cart_product.product_attr.size }}</li>
                                </ul>
                            </div>
                            <div class="basket_item__center">
                                <div class="basket_item__center-block basket_item__price-block">
                                    <span> Ціна </span>
                                    <p class="cart_item_price medium color_gold">{% if cart_product.product_attr.custom_attribute %}{{ cart_product.total_price }} грн{% else %}{{ cart_product.product_attr.get_total_price }} грн{% endif %}</p>
                                    {% if cart_product.product_attr.discount and not cart_product.product_attr.custom_attribute %}
                                    <p class="cart_item_old_price medium color_black_sub">
                                        {% if cart_product.product_attr.custom_attribute %}
                                            {{ cart_product.total_price }} грн
                                        {% else %}
                                            {{ cart_product.product_attr.price }} грн
                                        {% endif %}
                                    </p>
                                    {% endif %}
                                </div>
                                <div class="basket_item__center-block basket_item__quantity-block">
                                    <span>Кількість</span>
                                    <div>
                                        <select name="" id="" class="basket_item_quantity">
                                            <option value="">1</option>
                                            <option value="">2</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="basket_item__center-block basket_item__total-price-block">
                                    <span> Сума </span>
                                    <p class="cart_item_price medium color_gold" data-item-1="298" data-item-2="398"
                                        data-item-3="498" data-item-4="598">
                                        {{ cart_product.cart_product_total_price }} грн
                                    </p>
                                </div>
                            </div>
                            <div class="basket_item__delete">
                                <button>
                                    <img src="/static/utils/assets/delete.svg" alt="delete" />
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="basket_right__wrapper">
                <div class="basket__promocode basket_right">
                    <h3 class="basket__promocode-title">Промокод</h3>
                    <div class="basket_right_block">
                        <input type="text" class="input-transparent" placeholder="Введіть промокод" />
                        <button class="basket__promocode-add-btn info_for_product_btn medium color_gold">
                            Додати
                        </button>
                    </div>
                </div>

                <div class="basket__calculate basket_right">
                    <h3 class="basket__calculate-title font-size-26 bold">Разом</h3>
                    <div class="basket__calculate-sum-products basket_right_block">
                        <p class="basket__calculate-sum-products-title">
                            Ціна товарів на суму
                        </p>
                        <p class="basket__calculate-sum-products-cost">{{ cart.get_total_price }} грн.</p>
                    </div>
                    <div class="basket__calculate-delivery basket_right_block">
                        <p class="basket__calculate-delivery-title">
                            Вартість
                            <br />
                            доставки
                        </p>
                        <p class="basket__calculate-delivery-price">
                            за тарифами
                            <br />
                            перевізника
                        </p>
                    </div>
                    <div class="basket__calculate-total-price basket_right_block">
                        <p class="basket__calculate-total-price-title">До сплати</p>
                        <p class="basket__calculate-total-price-value font-size-26 bold color_gold">
                            {{ cart.get_total_price }} грн.
                        </p>
                    </div>

                    <button class="basket__confirm-order-btn basket_right_btn">
                        <a href="#" class="btn-gold">Замовлення підтверджую</a>
                    </button>

                    <div class="basket__calculate-info color_black_sub font-size-14">
                        <p>
                            <span>
                                Оформляючи замовлення на сайті, Ви погоджуєтесь з нашими
                            </span>
                            <a href="#">
                                <b>Умовами і положеннями</b>
                            </a>
                        </p>
                        <p>
                            <b>
                                Просимо надавати достовірні дані для успішного отримання
                                замовлення
                            </b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/basket/index.js"></script>
{% endblock scripts %}