{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/basket/index.css" />
{% endblock styles %}{% block content %}
<section class="first_section">
    <div class="container">
        <div>
            <a href="{% url 'index' %}" class="color_black_sub">Головна</a>
            <span class="color_black_sub">/</span>
            <a href="{% url 'cart' %}" class="color_gold">Кошик</a>
        </div>
        
        <div class="basket_wrapper">
            <div class="title">
                <h1>Кошик</h1>
                <span>{{ cart_products|length }} товари</span>
            </div>

            <div class="basket">
                {% for cart_product in cart_products %}
                <div class="basket_item">
                    <div class="basket_item__img">
                        <img src="/static/utils/assets/img.png" alt="" />
                    </div>
                    <div class="basket_item__right">
                        <div class="basket_item__title">
                            <div class="cart_item_title small color_black">
                                {{ cart_product.product_attr.product.title }}
                            </div>

                            <div class="cart_item_size small color_black">
                                {{ cart_product.product_attr.size }}
                            </div>
                        </div>
                        <div class="basket_item__block">
                            <span>
                                Ціна
                            </span>
                            <div class="cart_item_price medium color_gold">
                                {{ cart_product.product_attr.get_total_price }} грн
                            </div>
                            <div class="cart_item_old_price medium color_black_sub">
                                {{ cart_product.product_attr.price }} грн
                            </div>
                        </div>
                        <div class="basket_item__block">
                            <span>Кількість</span>
                            <div>
                                <select name="" id="" class="basket_item_quantity">
                                    <option value="">1</option>
                                </select>
                            </div>
                            
                        </div>

                        <div  class="basket_item__block">
                            <span>
                                Сума
                            </span>
                            <div class="cart_item_price medium color_gold" data-item-1="298" data-item-2="398"
                                data-item-3="498" data-item-4="598">
                                {{ cart_product.product_attr.get_total_price }} грн
                            </div>
                        </div>
                        <div class="basket_item__delete">
                            <button >
                                <img src="/static/utils/assets/delete.svg" alt="delete">
                            </button>
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
            <div class="basket_right__wrapper">
                <div class="basket_right">
                    <div>
                        Промокод
                    </div>
                    <div class="basket_right_block">
                        <input type="text" class="input-transparent" placeholder="Введіть промокод">
                        <button class="info_for_product_btn medium color_gold">Додати</button>
                    </div>
                    
                </div>

                <div class="basket_right">
                    <div class="font-size-26 bold">
                        Разом
                    </div>
                    <div class="basket_right_block">
                        <div>
                            Ціна товарів на суму
                        </div>
                        <div>{{ cart.get_total_price }} грн.</div>
                    </div>
                    <div class="basket_right_block">
                        <div>
                            Вартість
                            <br>
                            доставки
                        </div>
                        <div>
                            за тарифами
                            <br> 
                            перевізника
                        </div>
                    </div>
                    <div class="basket_right_block">
                        <div>
                            До сплати
                        </div>
                        <div class="font-size-26 bold color_gold">
                            {{ cart.get_total_price }} грн.
                        </div>
                    </div>

                    <div class="basket_right_btn">
                        <a href="#" class="btn-gold">Перейти до оформлення</a>
                    </div>
                    
                    <div class="color_black_sub font-size-14">
                        <div>
                            Оформляючи замовлення на сайті, 
                            Ви погоджуєтесь з нашими <b>Умовами і положеннями</b>
                        </div>
                        <br>
                        <b>
                            Просимо надавати достовірні дані для успішного 
                            отримання замовлення
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/basket/index.js"></script>
{% endblock scripts %}