{% extends "_base.html" %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/blog/index.css" />
{% endblock styles %}{% block content %}
<section class="blog-section first_section">
    <div class="container">
        <div class="bread-crumbs">
            <a href="{% url 'index' %}" class="color_black_sub">Головна</a>
            <span class="color_black_sub">/</span>
            <a href="#" class="color_gold">Блог</a>
        </div>
        <div class="title">
            <h1>Останнє з нашого блогу</h1>
        </div>

        <div class="blog blog__items">
            {% for article in articles %}
            <a href="{% url 'article' article.slug %}" class="blog_item">
                <div class="blog_item_img">
                    <img src="{{ article.image.url }}" alt="" />
                </div>
                <div class="blog_item_info">
                    <h4 class="blog_item_title">{{ article.title }}</h4>
                    <p class="blog_item_text">
                        {{ article.description }}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/blog/index.js"></script>
{% endblock scripts %}