{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/catalog/index.css" />
{% endblock styles %}{% block content %}
{% include 'includes/categories.html' %}
<section class="catalog container">
  {% for category in categories %}
  <div class="catalog_section">
    <div class="catalog_section_top">
      <div class="catalog_section_top_img catalog_section_top_img-left">
        <img src="/static/utils/assets/img.png" alt="" />
      </div>
      <div class="catalog_section_top_center">
        <h2>{{ category.title }}</h2>
        <a href="{{ category.get_absolute_url }}" class="info_for_product_btn medium color_gold">
          Переглянути каталог
        </a>
      </div>
      <div class="catalog_section_top_img catalog_section_top_img-right">
        <img
          src="/static/utils/assets/catalog_item/catalog_item-1.png"
          alt=""
        />
      </div>
    </div>
    <div class="catalog_section_bottom cart_item_wrapper">
      {% for product in category.products.all %}
      <div class="cart_item" data-product-id="{{ product.id }}">
        {% include 'includes/products.html' %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/catalog/index.js"></script>
{% endblock scripts %}
