{% extends '_base.html' %}
{% block styles %}
<link rel="stylesheet" href="/static/source/pages/catalog_inside/index.css" />
{% endblock styles %}{% block content %}
<section class="first_section">
    <div class="container">
        <div>
            <a href="#" class="color_black_sub">Головна</a>
            <span class="color_black_sub">/</span>
            <a href="#" class="color_gold">{{ categorie.title }}</a>
        </div>
        <div class="title">
            <h1>{{ categorie.title }}</h1>
            <span>{{ categorie.products.all|length }} товари</span>
        </div>

        <div class="catalog_inside">
            <div class="catalog_inside_filter accordion_container">
                <span class="accordion accordion_content__block">
                    <a class="color_black accordion__title">
                        Сортувати за
                    </a>
                    <span class="accordion_content content_column">

                        <a href="#" class="active accordion_content_item">
                            За замовчуванням
                        </a>

                        <a href="#" class="accordion_content_item">
                            За ім’ям А–Я
                        </a>

                        <a href="#" class="accordion_content_item">
                            За ім’ям Я–А
                        </a>

                        <a href="#" class="accordion_content_item">
                            Ціна за зростанням
                        </a>

                        <a href="#" class="accordion_content_item">
                            Ціна за спаданням
                        </a>
                    </span>
                </span>

                <span class="accordion accordion_content__block">
                    <a class="color_black accordion__title">
                        Розмір
                    </a>
                    <span class="accordion_content content_column">
                        <div class="accordion_content_item">
                            <label for="1">
                                <input type="checkbox" name="" id="1">
                                0.8x1.1 м
                            </label>
                        </div>
                        <div class="accordion_content_item">
                            <label for="2">
                                <input type="checkbox" name="" id="2">
                                0.8x1.2 м
                            </label>
                        </div>
                        <div class="accordion_content_item">
                            <label for="3">
                                <input type="checkbox" name="" id="3">
                                0.8x1.3 м
                            </label>
                        </div>
                        <div class="accordion_content_item">
                            <label for="4">
                                <input type="checkbox" name="" id="4">
                                0.8x1.4 м
                            </label>
                        </div>
                    </span>
                </span>
            </div>
            <div class="catalog_section_bottom cart_item_wrapper">
                {% for product in categorie.products.all %}
                <div class="cart_item">
                    <a href="#">
                        <div class="cart_item_new color_white small">Новинка</div>
                        <div class="cart_item_img">
                            <img src="/static/utils/assets/img.png" alt="" />
                        </div>
                        <div class="cart_item_price__block">
                            {% if product.has_discount %}
                            <div class="cart_item_price medium color_gold" data-item-1="298" data-item-2="398"
                                data-item-3="498" data-item-4="598">
                                {{ product.product_attr.first.get_total_price }} грн
                            </div>
                            <div class="cart_item_procent medium color_gold" data-item-1="15%" data-item-2="25%"
                                data-item-3="35%" data-item-4="45%">
                                {{ product.product_attr.first.discount }}%
                            </div>
                            <div class="cart_item_old_price medium color_black_sub" data-item-1="350"
                                data-item-2="450" data-item-3="550" data-item-4="650">
                                {{ product.product_attr.first.price }} грн
                            </div>
                            {% else %}
                            <div class="cart_item_price medium color_gold" data-item-1="298" data-item-2="398"
                                data-item-3="498" data-item-4="598">
                                {{ product.product_attr.first.get_total_price }} грн
                            </div>
                            {% endif %}
                            <div class="cart_item_add_to_favorite active">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_703_57)">
                                        <path
                                            d="M8 2.74799L7.283 2.01099C5.6 0.280988 2.514 0.877988 1.4 3.05299C0.877 4.07599 0.759 5.55299 1.714 7.43799C2.634 9.25299 4.548 11.427 8 13.795C11.452 11.427 13.365 9.25299 14.286 7.43799C15.241 5.55199 15.124 4.07599 14.6 3.05299C13.486 0.877988 10.4 0.279988 8.717 2.00999L8 2.74799ZM8 15C-7.333 4.86799 3.279 -3.04001 7.824 1.14299C7.884 1.19799 7.943 1.25499 8 1.31399C8.05642 1.25504 8.11513 1.19833 8.176 1.14399C12.72 -3.04201 23.333 4.86699 8 15Z"
                                            fill="#A46C46" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_703_57">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>

                        </div>
                        <div class="cart_item_title small color_black">
                            {{ product.title }}
                        </div>
                    </a>
                    <div class="cart_item_size__block">
                        {% for attr in product.product_attr.all %}
                        <div data-item="{{ forloop.counter }}" data-novelty="true" class="cart_item_size small color_black {% if forloop.first %}active{% endif %} ">
                            {{ attr.size.title }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="pagination">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">Далі</a>
        </div>
    </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/catalog_inside/index.js"></script>
{% endblock scripts %}