{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/delivery/index.css" />
{% endblock styles %}{% block content %}
<section class="delivery first_section">
  <div class="container">
    <div class="bread-crumbs">
      <a href="{% url 'index' %}" class="color_black_sub">Головна</a>
      <span class="color_black_sub">/</span>
      <a href="{% url 'delivery' %}" class="color_gold">Доставка і оплата</a>
    </div>
    <div class="terms-and-policies">
      <div class="terms-and-policies__sidebar nav-sidebar">
        <ul class="nav-sidebar__items">
          <li>
            <a href="{% url 'delivery' %}" class="color_gold">
              <span>Доставка і оплата</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>

          <li>
            <a href="{% url 'refund' %}" class="color_black">
              <span>Повернення</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>

          <li>
            <a href="{% url 'terms' %}" class="color_black">
              <span>Умови і положення</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>

          <li>
            <a href="{% url 'policy' %}" class="color_black">
              <span>Політика конфіденційності</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>
        </ul>
      </div>

      <div class="terms-and-policies__content">
        <div class="title">
          <h1 class="terms-and-policies__title bold">Доставка і оплата</h1>
        </div>

        <div class="terms-and-policies__items">
          <div class="terms-and-policies__block-item">
            <h3
              class="terms-and-policies__block-item-title color_gold bold"
            >
              Оплата:
            </h3>
            <div class="terms-and-policies__block-item-text">
              <p>Готівковий розрахунок</p>
              <p>Безготівковий розрахунок</p>
              <p>Післяплатою при доставці</p>
            </div>
          </div>

          <div class="terms-and-policies__block-item">
            <h3
              class="terms-and-policies__block-item-title color_gold bold"
            >
              Доставка:
            </h3>
            <div class="terms-and-policies__block-item-text">
              <p>
                Доставка здійснюється службами доставки Нова Пошта,
                Делівері, інші служби доставки можна обговорити
                безпосередньо з менеджером при оформленні замовлення.
              </p>
              <p>
                Відвантаження підлягає тільки повністю оплачений товар, за
                винятком післяплати.
              </p>
            </div>
          </div>

          <div class="terms-and-policies__block-item">
            <h3
              class="terms-and-policies__block-item-title color_gold bold"
            >
              Оплата доставки:
            </h3>
            <div class="terms-and-policies__block-item-text">
              <p>Оплата доставки здійснюється коштом покупця.</p>
              <p>
                Вартість доставки може відрізнятися в залежності від обраної
                служби доставки та способу доставки, а також місця
                призначення також зверніть увагу, що оплата післяплатою
                передбачає додаткову комісію яку стягує служба доставки.
              </p>
            </div>
          </div>

          <div class="terms-and-policies__block-item">
            <h3
              class="terms-and-policies__block-item-title color_gold bold"
            >
              Термін доставки:
            </h3>
            <div class="terms-and-policies__block-item-text">
              <p>
                Терміни доставки можуть відрізнятися в залежності від служби
                доставки та обраного способу доставки, а також місця
                призначення..
              </p>
              <p>
                Ви можете дізнатися у нашого менеджера попередню вартість і
                терміни доставки.
              </p>
            </div>
          </div>

          <div class="terms-and-policies__block-item">
            <h3
              class="terms-and-policies__block-item-title color_gold bold"
            >
              Важливо!
            </h3>
            <div class="terms-and-policies__block-item-text">
              <p>
                Відповідальність за доставку і цілісність товару після
                відправки несе транспортна компанія. Всі товари проходять
                огляд перед відправкою в інше місто.
              </p>
              <p>
                При отриманні товару в службі доставки переконайтеся в
                цілісності пакування і перевірте на наявність пошкоджень
                товару. Якщо вами були помічені такі пошкодження зафіксуйте
                їх (фото на телефон) і відразу вкажіть це співробітнику
                служби доставки та нашого менеджера, в іншому випадку
                відповідальність за пошкодження товару не несе ні служба
                доставки ні наша компанія.
              </p>
              <p>Гарантія доставки передплаченого товару в інше місто:</p>
              <p>
                Після оплати товару готівкою (у відділенні банку) або за
                безготівковим розрахунком у вас на руках залишаються
                документи, що підтверджують зроблену оплату: платіжне
                доручення з банку, виписка з вашого рахунку і т.п.
              </p>
              <p>
                Якщо доставка сплаченого товару не буде проведена - ви
                можете звертатися з цими документами до відповідних
                інстанцій, наприклад в товариство захисту прав споживачів.
                Доказом відправки товару з нашого боку є квитанція
                транспортної компанії, що підтверджує, що товар був Вам
                відправлений.
              </p>
              <p>
                Отримуючи товар в офісі кур'єрської компанії ви підписуєте
                документи, що підтверджують отримання Вами товару.
              </p>
              <p>
                При відправці товар може бути застрахований кур'єрською
                компанією, таким чином у вас буде гарантія цілісності
                одержуваного товару.
              </p>
              <p>Оплата товарів індивідуально виробництва:</p>
              <p>
                Купити товари за індивідуальним замовленням можливо тільки
                при умові 100% передоплати. У зв'язку з тим, що товар
                виробляється відповідно до ваших вимог, то реалізація його в
                подальшому надзвичайно складна. У зв'язку з цим товар, який
                виготовлений за індивідуальним замовленням поверненню та
                обміну не підлягає.
              </p>
              <p>
                Для уникнення непорозумінь вкажіть всі вимоги до замовлення,
                також вартість терміни виготовлення можуть відрізнятися від
                представлених в каталозі готової продукції.
              </p>
              <p class="bold">З повагою mr.Carpet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/delivery/index.js"></script>
{% endblock scripts %}
