{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/faq/index.css" />
{% endblock styles %}{% block content %}
<section class="faq first_section">
  <div class="container">
    <div class="bread-crumbs">
      <a href="{% url 'index' %}" class="color_black_sub">Головна</a>
      <span class="color_black_sub">/</span>
      <a href="#" class="color_gold">Питання / Відповідь</a>
    </div>

    <div class="faq__content">
      <div class="faq__left">
        <h1 class="faq__title color_black small">Поширені запитання</h1>
        <h2 class="faq__subtitle color_black small">
          Ми дамо відповіді на всі ваші запитання
        </h2>
      </div>
      <div class="faq__right">
        <div class="faq__items accordion_container">
          <div class="faq__question accordion accordion_content__block">
            <h4
              class="faq__question-title accordion__title accordion_content_item"
            >
              Які матеріали використовуються для виготовлення килимів?
            </h4>
            <p class="faq__question-answer-text accordion_content">
              Для виготовлення килимів використовуються різні матеріали,
              такі як шовк, вовна, бавовна, синтетичні волокна та інші.
              Кожен матеріал має свої унікальні характеристики та переваги.
            </p>
          </div>

          <div class="faq__question accordion accordion_content__block">
            <h4
              class="faq__question-title accordion__title accordion_content_item"
            >
              Як правильно доглядати за килимом?
            </h4>
            <p class="faq__question-answer-text accordion_content">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry.
            </p>
          </div>

          <div class="faq__question accordion accordion_content__block">
            <h4
              class="faq__question-title accordion__title accordion_content_item"
            >
              Як вибрати правильний розмір килима для кімнати?
            </h4>
            <p class="faq__question-answer-text accordion_content">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry.
            </p>
          </div>

          <div class="faq__question accordion accordion_content__block">
            <h4
              class="faq__question-title accordion__title accordion_content_item"
            >
              Як правильно доглядати за килимом?
            </h4>
            <p class="faq__question-answer-text accordion_content">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry.
            </p>
          </div>

          <div class="faq__question accordion accordion_content__block">
            <h4
              class="faq__question-title accordion__title accordion_content_item"
            >
              Як вибрати правильний розмір килима для кімнати?
            </h4>
            <p class="faq__question-answer-text accordion_content">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry.
            </p>
          </div>

          <div class="faq__question accordion accordion_content__block">
            <h4
              class="faq__question-title accordion__title accordion_content_item"
            >
              Як правильно доглядати за килимом?
            </h4>
            <p class="faq__question-answer-text accordion_content">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry.
            </p>
          </div>

          <div class="faq__question accordion accordion_content__block">
            <h4
              class="faq__question-title accordion__title accordion_content_item"
            >
              Як вибрати правильний розмір килима для кімнати?
            </h4>
            <p class="faq__question-answer-text accordion_content">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry.
            </p>
          </div>

          <div class="faq__question accordion accordion_content__block">
            <h4
              class="faq__question-title accordion__title accordion_content_item"
            >
              Як правильно доглядати за килимом?
            </h4>
            <p class="faq__question-answer-text accordion_content">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry.
            </p>
          </div>

          <div class="faq__question accordion accordion_content__block">
            <h4
              class="faq__question-title accordion__title accordion_content_item"
            >
              Як вибрати правильний розмір килима для кімнати?
            </h4>
            <p class="faq__question-answer-text accordion_content">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/faq/index.js"></script>
{% endblock scripts %}
