{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/favorite/index.css" />
{% endblock styles %}{% block content %}
<section class="favorite first_section">
  <div class="container">
    <div class="bread-crumbs">
      <a href="{% url 'index' %}" class="color_black_sub">Головна</a>
      <span class="color_black_sub">/</span>
      <a href="{% url 'favourites' %}" class="color_gold">Вибране</a>
    </div>
    <div class="title">
      <h1 class="favorite__title">Вибране</h1>
      <span>{{ favourites|length }} товарів</span>
    </div>
    <div class="favorite__items cart_item_wrapper">
      {% for product in favourites %}
      <div class="cart_item" data-product-id="{{ product.id }}">
        {% include 'includes/products.html' %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/favorite/index.js"></script>
{% endblock scripts %}
