{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/favorite/index.css" />
{% endblock styles %}{% block content %}
<section class="favorite first_section">
  <div class="container">
    <div class="bread-crumbs">
      <a href="{% url 'index' %}" class="color_black_sub">Головна</a>
      <span class="color_black_sub">/</span>
      <a href="{% url 'favourites' %}" class="color_gold">Вибране</a>
    </div>
    <div class="title">
      <h1 class="favorite__title">Вибране</h1>
      <span>{{ favourites|length }} товарів</span>
    </div>

    <!-- Блок порожніх улюблених -->
    <div class="basket__empty" id="empty-favorites-block" style="{% if favourites|length == 0 %}display: flex;{% else %}display: none;{% endif %}">
      <div class="basket__empty-icon">
        <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="60" cy="60" r="60" fill="#F5F5F5"/>
          <path d="M60 85L35 60L40 55L60 75L80 55L85 60L60 85ZM60 65L35 40L40 35L60 55L80 35L85 40L60 65Z" fill="#89817C"/>
        </svg>
      </div>
      <h2 class="basket__empty-title">Ваш список улюблених порожній</h2>
      <p class="basket__empty-text">Додайте товари в улюблене, щоб не загубити їх</p>
      <a href="{% url 'catalog' %}" class="basket__empty-btn btn-gold">
        Перейти до каталогу
      </a>
    </div>

    <div class="favorite__items cart_item_wrapper" style="{% if favourites|length == 0 %}display: none;{% endif %}">
      {% for product in favourites %}
      <div class="cart_item" data-product-id="{{ product.product_attr.first.id }}">
        {% include 'includes/products.html' %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/favorite/index.js"></script>
{% endblock scripts %}
