{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/index/index.css" />
{% endblock styles %}{% block content %}
<section class="first_section">
  <div class="cover_img">
    <img src="/static/utils/assets/index/cover.png" alt="" />
    <div class="cover__block">
      <div class="cover_title small color_white">Килими від mr.Carpet</div>
      <div class="cover_subtitle small color_white">
        Великий асортимент килимів від українських та турецьких виробників
      </div>
    </div>
  </div>
</section>
<!-- /.first_section -->
{% include 'includes/categories.html' %}

<section class="catalog_slider">
  <div class="container">
    <div class="slider__wrapper">
      <div class="info_for_product">
        <div class="info_for_product_title medium color_black">
          Відкрийте новий стиль
        </div>
        <div class="info_for_product_subtitle small color_black_sub">
          Прикрасьте вітальню, ванну чи дитячу кімнату килимами з
          натуральних матеріалів у модних та приємних відтінках
        </div>
        <a href="{% url 'catalog' %}" class="info_for_product_btn medium color_gold">
          Переглянути каталог
        </a>
      </div>
      <div class="swiper products-swiper catalog-swiper">
        <div class="slider__block swiper-wrapper">
          {% for product in products %}
          <div
            class="slider_item cart_item swiper-slide"
            data-product-id="{{ product.product_attr.first.id }}"
          >
            {% include 'includes/products.html' %}
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button swiper-button-next"></div>
        <div class="swiper-button swiper-button-prev"></div>
      </div>

      <a href="{% url 'catalog' %}" class="info_for_product_btn mob-btn medium color_gold">
        Переглянути каталог
      </a>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.catalog_slider -->

<section class="catalog_slider">
  <div class="container">
    <div class="slider__wrapper">
      <div class="info_for_product">
        <div
          class="info_for_product__timer-subtitle color_black_sub font-size-18"
        >
          До кінця залишилось
        </div>
        <div class="info_for_product__timer color_gold bold font-size-36">
          08:25:47
        </div>
        <div class="info_for_product_title medium color_black">
          Розпродаж килимів
        </div>
        <div class="info_for_product_subtitle small color_black_sub">
          Завжди вигідні ціни на акційні та популярні товари
        </div>
      </div>
      <div class="swiper products-swiper catalog-swiper">
        <div class="slider__block swiper-wrapper">
          {% for product in sale_products %}
          <div
            class="slider_item cart_item swiper-slide"
            data-product-id="{{ product.product_attr.first.id }}"
          >
            {% include 'includes/products.html' %}
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button swiper-button-next"></div>
        <div class="swiper-button swiper-button-prev"></div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.catalog_slider -->

<section class="blog-section catalog_slider">
  <div class="container">
    <div class="slider__wrapper">
      <div class="info_for_product">
        <div class="info_for_product_title medium color_black">
          Останнє з нашого блогу
        </div>
        <div class="info_for_product_subtitle small color_black_sub">
          Пишемо статті для того щоб ваш вибір килима завжди був ідеальним!
        </div>
        <a href="{% url 'blog' %}" class="info_for_product_btn medium color_gold">
          Переглянути блог
        </a>
      </div>
      <div class="blog">
        {% for post in posts %}
        <a href="#" class="blog_item">
          <div class="blog_item_img">
            <img src="/static/utils/assets/blog/img.png" alt="" />
          </div>
          <div class="blog_item_info">
            <h4 class="blog_item_title">{{ post.title }}</h4>
            <p class="blog_item_text">
              {{ post.description }}
            </p>
          </div>
        </a>
        {% endfor %}
      </div>

      <div class="mob-blog swiper blog-swiper catalog-swiper">
        <div class="blog mob-blog slider__block swiper-wrapper">
          {% for post in posts %}
          <a href="#" class="blog_item slider_item swiper-slide">
            <div class="blog_item_img">
              <img src="/static/utils/assets/blog/img.png" alt="" />
            </div>
            <div class="blog_item_info">
              <h4 class="blog_item_title">{{ post.title }}</h4>
              <p class="blog_item_text">
                {{ post.description }}
              </p>
            </div>
          </a>
          {% endfor %}
        </div>
        <div class="swiper-button swiper-button-next"></div>
        <div class="swiper-button swiper-button-prev"></div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.catalog_slider -->
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/index/index.js"></script>
{% endblock scripts %}
