{% extends '_base.html' %}
{% block styles %}
<link rel="stylesheet" href="/static/source/pages/password_reset/index.css" />
{% endblock styles %}

{% block content %}
<section class="password-reset first_section">
  <div class="password-reset__wrapper">
    <div class="password-reset__container">
      {% if valid %}
      <div class="password-reset__header">
        <h1 class="password-reset__title">Встановлення нового паролю</h1>
        <p class="password-reset__subtitle">
          Введіть новий пароль для вашого облікового запису
        </p>
      </div>

      {% if messages %}
        <div class="password-reset__messages">
          {% for message in messages %}
            <div class="password-reset__message password-reset__message--{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <form class="password-reset__form validation__block" method="POST" action="">
        {% csrf_token %}
        
        <div class="password-reset__form-field validation_container">
          <input
            id="password"
            class="input-transparent validation_input password-reset__input"
            name="password"
            type="password"
            data-type="password"
            placeholder="Новий пароль"
            required
            minlength="8"
            autocomplete="new-password"
          />
        </div>

        <div class="password-reset__form-field validation_container">
          <input
            id="password2"
            class="input-transparent validation_input password-reset__input"
            name="password2"
            type="password"
            data-type="password"
            placeholder="Підтвердіть новий пароль"
            required
            minlength="8"
            autocomplete="new-password"
          />
        </div>

        <button
          type="submit"
          class="password-reset__submit-btn btn-gold validation_btn"
        >
          Встановити новий пароль
        </button>
      </form>
      {% else %}
      <div class="password-reset__header">
        <h1 class="password-reset__title">Помилка</h1>
        <p class="password-reset__subtitle">
          {{ error|default:"Посилання недійсне або застаріло." }}
        </p>
      </div>
      {% endif %}

      <div class="password-reset__footer">
        <a href="/" class="password-reset__back-link">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.5 5L7.5 10L12.5 15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Повернутися на головну</span>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="/static/source/pages/password_reset/index.js"></script>
{% endblock scripts %}

