{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/policy/index.css" />
{% endblock styles %}{% block content %}
<section class="policy first_section">
  <div class="container">
    <div class="bread-crumbs">
      <a href="{% url 'index' %}" class="color_black_sub">Головна</a>
      <span class="color_black_sub">/</span>
      <a href="{% url 'policy' %}" class="color_gold">Політика конфіденційності</a>
    </div>
    <div class="terms-and-policies">
      <div class="terms-and-policies__sidebar nav-sidebar">
        <ul class="nav-sidebar__items">
          <li>
            <a href="{% url 'delivery' %}" class="color_black">
              <span>Доставка і оплата</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>

          <li>
            <a href="{% url 'refund' %}" class="color_black">
              <span>Повернення</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>

          <li>
            <a href="{% url 'terms' %}" class="color_black">
              <span>Умови і положення</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>

          <li>
            <a href="{% url 'policy' %}" class="color_gold">
              <span>Політика конфіденційності</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>
        </ul>
      </div>

      <div class="terms-and-policies__content">
        <div class="title">
          <h1 class="terms-and-policies__title bold">
            Політика конфіденційності
          </h1>
        </div>

        <div class="terms-and-policies__items">
          <div class="terms-and-policies__block-item">
            <p class="terms-and-policies__block-item-text">
              Дана угода про конфіденційність розроблено відповідно до вимог
              Закону України «Про захист персональних даних» та інших
              нормативних актів українського законодавства, що регламентують
              правові відносини, пов'язані зі збором, обробкою, зберіганням
              персональних даних, а також правом громадян на невтручання в
              особисте життя та правом на самовираження.
            </p>
            <h3
              class="terms-and-policies__block-item-title small --top-indent"
            >
              1. Визначення термінів
            </h3>
            <h4 class="terms-and-policies__block-item-subtitle small">
              1.1 У даній Політиці конфіденційності використовуються такі
              терміни:
            </h4>
            <div class="terms-and-policies__block-item-text">
              <ul>
                <li>
                  1.1.1. «Адміністрація сайту Інтернет-магазину (далі -
                  Адміністрація сайту)» - уповноважені співробітники на
                  управління сайтом, що діють від імені інтернет-магазина
                  Steella, які організовують обробку персональних даних, а
                  також визначає цілі обробки персональних даних, склад
                  персональних даних, що підлягають обробці, дії або
                  операції, що здійснюються з персональними даними.
                </li>
                <li>
                  1.1.2. «Персональні дані» - будь-яка інформація, що
                  відноситься прямо або побічно до певного або визначається
                  фізичній особі (суб'єкту персональних даних).
                </li>
                <li>
                  1.1.3. «Обробка персональних даних» - будь-яка дія
                  (операція) або сукупність дій (операцій), що здійснюються
                  з використанням засобів автоматизації або без використання
                  таких засобів з персональними даними, включаючи збір,
                  запис, систематизацію, накопичення, зберігання, уточнення
                  (оновлення, зміна), витяг, використання, передачу
                  (поширення, надання, доступ), знеособлення, блокування,
                  видалення, знищення персональних даних.
                </li>
                <li>
                  1.1.4. «Конфіденційність персональних даних» - обов'язкове
                  для дотримання Адміністратором або іншим отримав доступ до
                  персональних даних особою вимога не допускати їх поширення
                  без згоди суб'єкта персональних даних або наявності іншого
                  законного підстави.
                </li>
                <li>
                  1.1.5. «Користувач сайту Інтернет-магазину Steella -
                  особа, яка має доступ до Сайту, за допомогою мережі
                  Інтернет і використовує Сайт інтернет-магазину.
                </li>
                <li>
                  1.1.6. «Cookies» - невеликий фрагмент даних, відправлений
                  веб-сервером і зберігається на комп'ютері користувача,
                  який веб-клієнт або веб-браузер кожен раз пересилає
                  веб-серверу в HTTP-запиті при спробі відкрити сторінку
                  відповідного сайту.
                </li>
                <li>
                  1.1.7. «IP-адреса» - унікальний мережеву адресу вузла в
                  комп'ютерній мережі, побудованої за протоколом IP.
                </li>
              </ul>
            </div>
          </div>

          <div class="terms-and-policies__block-item">
            <h3
              class="terms-and-policies__block-item-title small --top-indent"
            >
              2. Додаткова інформація про персональні дані користувача
            </h3>
            <div class="terms-and-policies__block-item-text">
              <ul>
                <li>
                  2.1. Крім інформації, що міститься в цих правилах
                  забезпечення конфіденційності персональних даних, сайт
                  може надавати Користувачу за запитом додаткову і
                  контекстуальну інформацію, що стосується конкретних послуг
                  і сервісів або збору та обробки Персональних даних.
                </li>
                <li>
                  2.2. метою забезпечення роботи сайту та його технічного
                  обслуговування, сайт і будь-які сторонні сервіси можуть
                  вести файли, в яких реєструється взаємодія сайту з
                  Користувачами (системні журнали), або використовувати з
                  цією метою інші Персональні дані (зокрема, IP-адреса).
                </li>
              </ul>
            </div>
          </div>

          <div class="terms-and-policies__block-item">
            <h3
              class="terms-and-policies__block-item-title small --top-indent"
            >
              3. Додаткові умови
            </h3>
            <div class="terms-and-policies__block-item-text">
              <ul>
                <li>
                  3.1.Адміністрація сайту має право вносити зміни в справжню
                  Політику конфіденційності без згоди Користувача.
                </li>
                <li>
                  3.2.Нова Політика конфіденційності набрати чинності з
                  моменту її розміщення на Сайті інтернет-магазину, якщо
                  інше не передбачено новою редакцією Політики
                  конфіденційності.
                </li>
                <li>
                  3.3. У разі незгоди з будь-якими змінами, внесеними до
                  Правил, Користувач повинен припинити користуватися сайтом,
                  а також вимагати, щоб Адміністрація сайту даних видалила
                  його Персональні дані.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/policy/index.js"></script>
{% endblock scripts %}
