{% extends "_base.html" %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/product/index.css" />
{% endblock styles %}{% block content %}
<section class="first_section">
    <div class="container">
        <div>
            <a href="{% url 'index' %}" class="color_black_sub">Головна</a>
            <span class="color_black_sub">/</span>
            <a href="{% url 'categorie' product.categories.first.slug %}" class="color_black_sub">{{ product.categories.first.title }}</a>
            <span class="color_black_sub">/</span>
            <a href="{% url 'product' product.slug %}" class="color_gold">{{ product.title }}</a>
        </div>

        <div class="product">
            <div class="product_slider">
                <div class="product_slider_mini swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/static/utils/assets/img.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/utils/assets/img.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/utils/assets/img.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="product_slider_main swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/static/utils/assets/img.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/utils/assets/img.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/utils/assets/img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__right">
                <div class="title">
                    <h1>Килим Layered OVALS WOOL RUG OATMEAL</h1>
                </div>

                <div class="product__info">
                    <div class="cart_item_price__block">
                        <div class="cart_item_price medium color_gold">
                            298 грн
                        </div>
                        <div class="cart_item_procent medium color_gold">
                            15%
                        </div>
                        <div class="cart_item_old_price medium color_black_sub">
                            350 грн
                        </div>
                    </div>

                    <div>
                        Вовна, шовк
                        Вироблено в Україні
                    </div>

                    <div class="cart_item_size__block">
                        {% for product_attr in product.product_attr.all %}
                        <div data-item="1" data-novelty="true" class="cart_item_size small color_black active">
                            {{ product_attr.size.title }}
                        </div>
                        {% endfor %}
                        {% comment %} <div data-item="2" data-novelty="true" class="cart_item_size small color_black">
                            0.8x1.2 м
                        </div>
                        <div data-item="3" data-novelty="false" class="cart_item_size small color_black">
                            0.8x1.3 м
                        </div>
                        <div data-item="4" data-novelty="true" class="cart_item_size small color_black">
                            0.8x1.4 м
                        </div> {% endcomment %}
                    </div>

                    <div>
                        <select name="" id="" class="product__quantity">
                            <option value="1">1</option>
                        </select>
                        <span>Безкоштовна доставка від ... грн.</span>
                    </div>

                    <div class="product__btn">
                        <button class="btn-gold">
                            Добавити до кошика
                        </button>
                        <button class="product_favourite-btn btn">
                            <svg width="24" height="24" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_703_57)">
                                    <path
                                        d="M8 2.74799L7.283 2.01099C5.6 0.280988 2.514 0.877988 1.4 3.05299C0.877 4.07599 0.759 5.55299 1.714 7.43799C2.634 9.25299 4.548 11.427 8 13.795C11.452 11.427 13.365 9.25299 14.286 7.43799C15.241 5.55199 15.124 4.07599 14.6 3.05299C13.486 0.877988 10.4 0.279988 8.717 2.00999L8 2.74799ZM8 15C-7.333 4.86799 3.279 -3.04001 7.824 1.14299C7.884 1.19799 7.943 1.25499 8 1.31399C8.05642 1.25504 8.11513 1.19833 8.176 1.14399C12.72 -3.04201 23.333 4.86699 8 15Z"
                                        fill="#A46C46" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_703_57">
                                        <rect width="16" height="16" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </div>
                </div>

                <div style="margin-top: 50px;">
                    <span class="accordion accordion_content__block">
                        <a class="color_black accordion__title">
                            Опис
                        </a>
                        <span class="accordion_content content_column">
                            Бельгійська колекція, в основі якої лежить використання найніжнішої вискозной нитки і
                            м"якого бавовни. Завдяки такому поєднанню якісних матеріалів килими легкі, повітряні,
                            ніжні на дотик, і мають до того ж привабливу ціну. Стильне і стримане забарвлення
                            відрізняється своєю універсальністю, тому прекрасно впишеться практично в будь-який
                            інтер"єр.
                        </span>
                    </span>

                    <span class="accordion accordion_content__block">
                        <a class="color_black accordion__title">
                            Характеристики
                        </a>
                        <div class="accordion_content content_column">
                            <div class="characteristic">
                                <span>Висота ворсу</span> <span>12 мм</span>
                            </div>
                            <div class="characteristic">
                                <span>Ворсова основа</span> <span>Ткана</span>
                            </div>
                            <div class="characteristic">
                                <span>Cтилістика</span> <span>Ручна робота</span>
                            </div>
                            <div class="characteristic">
                                <span>Склад</span> <span>Вовна, шовк</span>
                            </div>
                            <div class="characteristic">
                                <span>Форма</span> <span>Прямокутна</span>
                            </div>
                        </div>
                    </span>

                    <span class="accordion accordion_content__block">
                        <a class="color_black accordion__title">
                            Відгуки
                        </a>
                        <div class="accordion_content content_column">
                            <div class="product_review">
                                <div class="flex">
                                    <div class="product_review__title">Russell Sprout</div>
                                    <form class="form_stars blocked">
                                        <span class="stars">
                                            <input type="radio" name="star" class="star-1">
                                            <label class="star-1" for="star-1">1</label>
    
                                            <input type="radio" name="star" class="star-2">
                                            <label class="star-2" for="star-2">2</label>
    
                                            <input type="radio" name="star" class="star-3">
                                            <label class="star-3" for="star-3">3</label>
    
                                            <input type="radio" name="star" class="star-4">
                                            <label class="star-4" for="star-4">4</label>
    
                                            <input type="radio" name="star" class="star-5">
                                            <label class="star-5" for="star-5">5</label>
    
                                            <span></span>
                                        </span>
                                    </form>
                                </div>
                                <div>
                                    Це просто ВАУ! Ціни доступні, асортимент дуууже крутий і різноманітних, продавці
                                    не намагаються "втюхати" те, що треба продати... Мені підібрали за лічені
                                    хвилини саме те, що шукала і в межах мого бюджету
                                </div>
                            </div>
                        </div>
                    </span>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="catalog_slider">
    <div class="container">
        <div class="slider__wrapper">
            <div class="info_for_product">
                <div class="info_for_product_title medium color_black">
                    Схожі товари, які вам можуть сподобатися
                </div>
                <div class="info_for_product_subtitle small color_black_sub">
                    Оберіть всі ідеальний варіант килими
                </div>
                <a href="#" class="info_for_product_btn medium color_gold">
                    Переглянути каталог
                </a>
            </div>
            <div class="swiper catalog-swiper">
                <div class="slider__block swiper-wrapper">
                    <div class="slider_item cart_item swiper-slide">
                        <a href="#">
                            <div class="cart_item_new color_white small">Новинка</div>
                            <div class="cart_item_img">
                                <img src="/static/utils/assets/img.png" alt="" />
                            </div>
                            <div class="cart_item_price__block">
                                <div class="cart_item_price medium color_gold" data-item-1="298" data-item-2="398"
                                    data-item-3="498" data-item-4="598">
                                    298 грн
                                </div>
                                <div class="cart_item_procent medium color_gold" data-item-1="15%" data-item-2="25%"
                                    data-item-3="35%" data-item-4="45%">
                                    15%
                                </div>
                                <div class="cart_item_old_price medium color_black_sub" data-item-1="350"
                                    data-item-2="450" data-item-3="550" data-item-4="650">
                                    350 грн
                                </div>
                                <div class="cart_item_add_to_favorite active">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_703_57)">
                                            <path
                                                d="M8 2.74799L7.283 2.01099C5.6 0.280988 2.514 0.877988 1.4 3.05299C0.877 4.07599 0.759 5.55299 1.714 7.43799C2.634 9.25299 4.548 11.427 8 13.795C11.452 11.427 13.365 9.25299 14.286 7.43799C15.241 5.55199 15.124 4.07599 14.6 3.05299C13.486 0.877988 10.4 0.279988 8.717 2.00999L8 2.74799ZM8 15C-7.333 4.86799 3.279 -3.04001 7.824 1.14299C7.884 1.19799 7.943 1.25499 8 1.31399C8.05642 1.25504 8.11513 1.19833 8.176 1.14399C12.72 -3.04201 23.333 4.86699 8 15Z"
                                                fill="#A46C46" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_703_57">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>

                            </div>
                            <div class="cart_item_title small color_black">
                                Килим Layered OVALS WOOL RUG OATMEAL
                            </div>
                        </a>
                        <div class="cart_item_size__block">
                            <div data-item="1" data-novelty="true" class="cart_item_size small color_black active">
                                0.8x1.1 м
                            </div>
                            <div data-item="2" data-novelty="true" class="cart_item_size small color_black">
                                0.8x1.2 м
                            </div>
                            <div data-item="3" data-novelty="false" class="cart_item_size small color_black">
                                0.8x1.3 м
                            </div>
                            <div data-item="4" data-novelty="true" class="cart_item_size small color_black">
                                0.8x1.4 м
                            </div>
                        </div>
                    </div>
                    <div class="slider_item cart_item swiper-slide">
                        <a href="#">
                            <div class="cart_item_new color_white small">Новинка</div>
                            <div class="cart_item_img">
                                <img src="/static/utils/assets/img.png" alt="" />
                            </div>
                            <div class="cart_item_price__block">
                                <div class="cart_item_price medium color_gold" data-item-1="298" data-item-2="398"
                                    data-item-3="498" data-item-4="598">
                                    298 грн
                                </div>
                                <div class="cart_item_procent medium color_gold" data-item-1="15%" data-item-2="25%"
                                    data-item-3="35%" data-item-4="45%">
                                    15%
                                </div>
                                <div class="cart_item_old_price medium color_black_sub" data-item-1="350"
                                    data-item-2="450" data-item-3="550" data-item-4="650">
                                    350 грн
                                </div>
                                <div class="cart_item_add_to_favorite active">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_703_57)">
                                            <path
                                                d="M8 2.74799L7.283 2.01099C5.6 0.280988 2.514 0.877988 1.4 3.05299C0.877 4.07599 0.759 5.55299 1.714 7.43799C2.634 9.25299 4.548 11.427 8 13.795C11.452 11.427 13.365 9.25299 14.286 7.43799C15.241 5.55199 15.124 4.07599 14.6 3.05299C13.486 0.877988 10.4 0.279988 8.717 2.00999L8 2.74799ZM8 15C-7.333 4.86799 3.279 -3.04001 7.824 1.14299C7.884 1.19799 7.943 1.25499 8 1.31399C8.05642 1.25504 8.11513 1.19833 8.176 1.14399C12.72 -3.04201 23.333 4.86699 8 15Z"
                                                fill="#A46C46" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_703_57">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>

                            </div>
                            <div class="cart_item_title small color_black">
                                Килим Layered OVALS WOOL RUG OATMEAL
                            </div>
                        </a>
                        <div class="cart_item_size__block">
                            <div data-item="1" data-novelty="true" class="cart_item_size small color_black active">
                                0.8x1.1 м
                            </div>
                            <div data-item="2" data-novelty="true" class="cart_item_size small color_black">
                                0.8x1.2 м
                            </div>
                            <div data-item="3" data-novelty="false" class="cart_item_size small color_black">
                                0.8x1.3 м
                            </div>
                            <div data-item="4" data-novelty="true" class="cart_item_size small color_black">
                                0.8x1.4 м
                            </div>
                        </div>
                    </div>
                    <div class="slider_item cart_item swiper-slide">
                        <a href="#">
                            <div class="cart_item_new color_white small">Новинка</div>
                            <div class="cart_item_img">
                                <img src="/static/utils/assets/img.png" alt="" />
                            </div>
                            <div class="cart_item_price__block">
                                <div class="cart_item_price medium color_gold" data-item-1="298" data-item-2="398"
                                    data-item-3="498" data-item-4="598">
                                    298 грн
                                </div>
                                <div class="cart_item_procent medium color_gold" data-item-1="15%" data-item-2="25%"
                                    data-item-3="35%" data-item-4="45%">
                                    15%
                                </div>
                                <div class="cart_item_old_price medium color_black_sub" data-item-1="350"
                                    data-item-2="450" data-item-3="550" data-item-4="650">
                                    350 грн
                                </div>
                                <div class="cart_item_add_to_favorite active">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_703_57)">
                                            <path
                                                d="M8 2.74799L7.283 2.01099C5.6 0.280988 2.514 0.877988 1.4 3.05299C0.877 4.07599 0.759 5.55299 1.714 7.43799C2.634 9.25299 4.548 11.427 8 13.795C11.452 11.427 13.365 9.25299 14.286 7.43799C15.241 5.55199 15.124 4.07599 14.6 3.05299C13.486 0.877988 10.4 0.279988 8.717 2.00999L8 2.74799ZM8 15C-7.333 4.86799 3.279 -3.04001 7.824 1.14299C7.884 1.19799 7.943 1.25499 8 1.31399C8.05642 1.25504 8.11513 1.19833 8.176 1.14399C12.72 -3.04201 23.333 4.86699 8 15Z"
                                                fill="#A46C46" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_703_57">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>

                            </div>
                            <div class="cart_item_title small color_black">
                                Килим Layered OVALS WOOL RUG OATMEAL
                            </div>
                        </a>
                        <div class="cart_item_size__block">
                            <div data-item="1" data-novelty="true" class="cart_item_size small color_black active">
                                0.8x1.1 м
                            </div>
                            <div data-item="2" data-novelty="true" class="cart_item_size small color_black">
                                0.8x1.2 м
                            </div>
                            <div data-item="3" data-novelty="false" class="cart_item_size small color_black">
                                0.8x1.3 м
                            </div>
                            <div data-item="4" data-novelty="true" class="cart_item_size small color_black">
                                0.8x1.4 м
                            </div>
                        </div>
                    </div>
                    <div class="slider_item cart_item swiper-slide">
                        <a href="#">
                            <div class="cart_item_new color_white small">Новинка</div>
                            <div class="cart_item_img">
                                <img src="/static/utils/assets/img.png" alt="" />
                            </div>
                            <div class="cart_item_price__block">
                                <div class="cart_item_price medium color_gold" data-item-1="298" data-item-2="398"
                                    data-item-3="498" data-item-4="598">
                                    298 грн
                                </div>
                                <div class="cart_item_procent medium color_gold" data-item-1="15%" data-item-2="25%"
                                    data-item-3="35%" data-item-4="45%">
                                    15%
                                </div>
                                <div class="cart_item_old_price medium color_black_sub" data-item-1="350"
                                    data-item-2="450" data-item-3="550" data-item-4="650">
                                    350 грн
                                </div>
                                <div class="cart_item_add_to_favorite active">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_703_57)">
                                            <path
                                                d="M8 2.74799L7.283 2.01099C5.6 0.280988 2.514 0.877988 1.4 3.05299C0.877 4.07599 0.759 5.55299 1.714 7.43799C2.634 9.25299 4.548 11.427 8 13.795C11.452 11.427 13.365 9.25299 14.286 7.43799C15.241 5.55199 15.124 4.07599 14.6 3.05299C13.486 0.877988 10.4 0.279988 8.717 2.00999L8 2.74799ZM8 15C-7.333 4.86799 3.279 -3.04001 7.824 1.14299C7.884 1.19799 7.943 1.25499 8 1.31399C8.05642 1.25504 8.11513 1.19833 8.176 1.14399C12.72 -3.04201 23.333 4.86699 8 15Z"
                                                fill="#A46C46" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_703_57">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>

                            </div>
                            <div class="cart_item_title small color_black">
                                Килим Layered OVALS WOOL RUG OATMEAL
                            </div>
                        </a>
                        <div class="cart_item_size__block">
                            <div data-item="1" data-novelty="true" class="cart_item_size small color_black active">
                                0.8x1.1 м
                            </div>
                            <div data-item="2" data-novelty="true" class="cart_item_size small color_black">
                                0.8x1.2 м
                            </div>
                            <div data-item="3" data-novelty="false" class="cart_item_size small color_black">
                                0.8x1.3 м
                            </div>
                            <div data-item="4" data-novelty="true" class="cart_item_size small color_black">
                                0.8x1.4 м
                            </div>
                        </div>
                    </div>
                    <div class="slider_item cart_item swiper-slide">
                        <a href="#">
                            <div class="cart_item_new color_white small">Новинка</div>
                            <div class="cart_item_img">
                                <img src="/static/utils/assets/img.png" alt="" />
                            </div>
                            <div class="cart_item_price__block">
                                <div class="cart_item_price medium color_gold" data-item-1="298" data-item-2="398"
                                    data-item-3="498" data-item-4="598">
                                    298 грн
                                </div>
                                <div class="cart_item_procent medium color_gold" data-item-1="15%" data-item-2="25%"
                                    data-item-3="35%" data-item-4="45%">
                                    15%
                                </div>
                                <div class="cart_item_old_price medium color_black_sub" data-item-1="350"
                                    data-item-2="450" data-item-3="550" data-item-4="650">
                                    350 грн
                                </div>
                                <div class="cart_item_add_to_favorite active">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_703_57)">
                                            <path
                                                d="M8 2.74799L7.283 2.01099C5.6 0.280988 2.514 0.877988 1.4 3.05299C0.877 4.07599 0.759 5.55299 1.714 7.43799C2.634 9.25299 4.548 11.427 8 13.795C11.452 11.427 13.365 9.25299 14.286 7.43799C15.241 5.55199 15.124 4.07599 14.6 3.05299C13.486 0.877988 10.4 0.279988 8.717 2.00999L8 2.74799ZM8 15C-7.333 4.86799 3.279 -3.04001 7.824 1.14299C7.884 1.19799 7.943 1.25499 8 1.31399C8.05642 1.25504 8.11513 1.19833 8.176 1.14399C12.72 -3.04201 23.333 4.86699 8 15Z"
                                                fill="#A46C46" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_703_57">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>

                            </div>
                            <div class="cart_item_title small color_black">
                                Килим Layered OVALS WOOL RUG OATMEAL
                            </div>
                        </a>
                        <div class="cart_item_size__block">
                            <div data-item="1" data-novelty="true" class="cart_item_size small color_black active">
                                0.8x1.1 м
                            </div>
                            <div data-item="2" data-novelty="true" class="cart_item_size small color_black">
                                0.8x1.2 м
                            </div>
                            <div data-item="3" data-novelty="false" class="cart_item_size small color_black">
                                0.8x1.3 м
                            </div>
                            <div data-item="4" data-novelty="true" class="cart_item_size small color_black">
                                0.8x1.4 м
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button swiper-button-next"></div>
                <div class="swiper-button swiper-button-prev"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.catalog_slider -->
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/product/index.js"></script>
{% endblock scripts %}