{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/product/index.css" />
{% endblock styles %}{% block content %}
<section class="first_section">
  <div class="review-write-modal-overlay modal-overlay">
    <div class="review-write-modal modal modal__block">
      <button
        class="review-write-modal__close-btn modal__close-btn modal_close"
      >
        <img src="/static/utils/assets/close.svg" alt="close" />
      </button>

      <div class="modal__content">
        <div class="review-write-modal__container">
          <form
            action="/review"
            class="review-write-modal__form validation__block"
          >
            <div class="review-write-modal__form">
              <h3 class="review-write-modal__form-title color_black bold">
                Написати відгук
              </h3>

              <div class="review-write-modal__form-fields">
                <div
                  class="review-write-modal__form-field modal__field validation_container"
                >
                  <!-- Here is the average rating among reviews "data-rating-value" (integer) -->
                  <div class="star-rate" data-rating-value="3">
                    <div class="star-rate__item">
                      <input
                        id="star-5"
                        name="star-rate"
                        type="radio"
                        value="5"
                      />
                      <label>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          stroke="#A46C46"
                          fill="#fff"
                        >
                          <path
                            d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                          />
                        </svg>

                        <span>Чудовий</span>
                      </label>
                    </div>

                    <div class="star-rate__item">
                      <input
                        id="star-4"
                        name="star-rate"
                        type="radio"
                        value="4"
                      />
                      <label>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          stroke="#A46C46"
                          fill="#fff"
                        >
                          <path
                            d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                          />
                        </svg>
                        <span>Добрий</span>
                      </label>
                    </div>

                    <div class="star-rate__item">
                      <input
                        id="star-3"
                        name="star-rate"
                        type="radio"
                        value="3"
                      />
                      <label>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          stroke="#A46C46"
                          fill="#fff"
                        >
                          <path
                            d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                          />
                        </svg>

                        <span>Нормальний</span>
                      </label>
                    </div>

                    <div class="star-rate__item">
                      <input
                        id="star-2"
                        name="star-rate"
                        type="radio"
                        value="2"
                      />
                      <label>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          stroke="#A46C46"
                          fill="#fff"
                        >
                          <path
                            d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                          />
                        </svg>

                        <span>Так собі</span>
                      </label>
                    </div>

                    <div class="star-rate__item">
                      <input
                        id="star-1"
                        name="star-rate"
                        type="radio"
                        value="1"
                      />
                      <label>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          stroke="#A46C46"
                          fill="#fff"
                        >
                          <path
                            d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                          />
                        </svg>

                        <span>Поганий</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div
                  class="review-write-modal__form-field modal__field validation_container"
                >
                  <input
                    id="name"
                    class="input-transparent validation_input"
                    name="name"
                    type="text"
                    data-type="name"
                    placeholder="Ім’я"
                    required
                  />
                </div>

                <div class="review-write-modal__form-field modal__field">
                  <textarea
                    id="comment"
                    class="input-transparent"
                    name="comment"
                    placeholder="Коментар"
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="review-write-modal__form-buttons">
              <button
                type="submit"
                class="review-write-modal__send-review-btn btn-gold validation_btn"
              >
                Залишити відгук
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="bread-crumbs">
      <a href="{% url 'index' %}" class="color_black_sub">Головна</a>
      <span class="color_black_sub">/</span>
      <a href="#" class="color_black_sub"
        >Килими українського виробництва</a
      >
      <span class="color_black_sub">/</span>
      <a href="#" class="color_gold"
        >Килим Layered OVALS WOOL RUG OATMEAL</a
      >
    </div>

    <div class="product" data-product-id="{{ product.product_attr.first.id }}">
      <div class="product_slider">
        <div class="product_slider_mini swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="{{ product.image.url }}" alt="" />
            </div>
            {% if images %}
            {% for image in images %}
            <div class="swiper-slide">
              <img src="{{ image.image.url }}" alt="{% if image.alt %}{{ image.alt }}{% else %}{% endif %}" />
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="product_slider_main swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="{{ product.image.url }}" alt="" />
            </div>
            {% if images %}
            {% for image in images %}
            <div class="swiper-slide">
              <img src="{{ image.image.url }}" alt="{% if image.alt %}{{ image.alt }}{% else %}{% endif %}" />
            </div>
            {% endfor %}
            {% endif %}
          </div>

          <div class="swiper-button swiper-button-next"></div>
          <div class="swiper-button swiper-button-prev"></div>
        </div>
      </div>
      <div class="product__right">
        <div class="title">
          <h1>{{ product.title }}</h1>
        </div>

        <div class="product__info">
          <div class="cart_item_price__block">
            <p
              class="cart_item_price medium color_gold"
              {% for attr in product.product_attr.all %}
              {% if not attr.custom_attribute %}
              data-item-{{ attr.id }}={{ attr.get_total_price }}
              {% endif %}
              {% endfor %}
            >
              <span class="cart_item_price-value">{{ product.product_attr.first.get_total_price }}</span>
              <span>грн</span>
            </p>
            <p
              class="cart_item_procent medium color_gold"
              {% for attr in product.product_attr.all %}
              {% if attr.discount and not attr.custom_attribute %}
              data-item-{{ attr.id }}="{{ attr.discount }}%"
              {% endif %}
              {% endfor %}
            >
              {% if product.product_attr.first.discount %}
              {{ product.product_attr.first.discount }}%
              {% endif %}
            </p>
            <p
              class="cart_item_old_price medium color_black_sub"
              {% for attr in product.product_attr.all %}
              {% if attr.discount and not attr.custom_attribute %}
              data-item-{{ attr.id }}="{{ attr.price }}"
              {% endif %}
              {% endfor %}
            >
              {% if product.product_attr.first.discount %}
              <span class="cart_item_old_price-value">{{product.product_attr.first.price}}</span>
              <span>грн</span>
              {% endif %}
            </p>
          </div>

          <div class="product__origin color_black_sub">
            <p class="product__material">Вовна, шовк</p>
            <p class="product__country">Вироблено в Україні</p>
          </div>

          <div class="sizes-block cart_item_size__block">
            {% for attr in product.product_attr.all %}
            {% if not attr.custom_attribute %}
            {% if forloop.first %}
            <div data-item="{{ attr.id }}" data-novelty="true" class="size-label active">
              {{ attr.size }}
            </div>
            {% else %}
            <div data-item="{{ attr.id }}" data-novelty="true" class="size-label">
              {{ attr.size }}
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>

          <div class="product__option">
            <div class="counter">
              <button
                class="counter__minus-btn"
              >
                <img src="/static/utils/assets/minus.svg" alt="minus"/>
              </button>
              <input
                class="counter__value"
                value="1"
              />
              <button
                class="counter__plus-btn"
              >
              <img src="/static/utils/assets/plus.svg" alt="plus"/>
              </button>
            </div>
            <span class="info-text__free-delivery">Безкоштовна доставка від ... грн.</span>
          </div>

          <div class="product__btn">
            <button class="add-to-cart btn-gold">Добавити до кошика</button>
            <button class="product_favourite-btn btn">
              <svg
                width="24"
                height="24"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_703_57)">
                  <path
                    d="M8 2.74799L7.283 2.01099C5.6 0.280988 2.514 0.877988 1.4 3.05299C0.877 4.07599 0.759 5.55299 1.714 7.43799C2.634 9.25299 4.548 11.427 8 13.795C11.452 11.427 13.365 9.25299 14.286 7.43799C15.241 5.55199 15.124 4.07599 14.6 3.05299C13.486 0.877988 10.4 0.279988 8.717 2.00999L8 2.74799ZM8 15C-7.333 4.86799 3.279 -3.04001 7.824 1.14299C7.884 1.19799 7.943 1.25499 8 1.31399C8.05642 1.25504 8.11513 1.19833 8.176 1.14399C12.72 -3.04201 23.333 4.86699 8 15Z"
                    fill="#A46C46"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_703_57">
                    <rect width="16" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </div>

        <div class="product__info-bottom">
          <span class="accordion accordion_content__block">
            <a class="color_black accordion__title"> Опис </a>
            <span class="accordion_content content_column">
              {{ product.description }}
            </span>
          </span>

          <span class="accordion accordion_content__block">
            <a class="color_black accordion__title"> Характеристики </a>
            <div class="accordion_content content_column">
              {% for spec in product.product_specs.all %}
              <div class="characteristic">
                <span>{{ spec.specification }}</span> <span>{{ spec.spec_value }}</span>
              </div>
              {% endfor %}
            </div>
          </span>

          <span
            class="product_reviews accordion accordion_content__block active"
          >
            <a class="color_black accordion__title"> Відгуки </a>
            <div
              class="product_reviews__content accordion_content content_column"
            >
              <!-- When there are reviews -->

              <!-- <div class="product_reviews__items">
                <div class="product_review">
                  <div class="product_review__info flex">
                    <div class="product_review__title medium">
                      Russell Sprout
                    </div>
                    <div class="star-rate readonly" data-rating-value="3">
                      <div class="star-rate__item">
                        <input
                          id="star-5"
                          name="star-rate"
                          type="radio"
                          value="5"
                        />
                        <label>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            stroke="#A46C46"
                            fill="#fff"
                          >
                            <path
                              d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                            />
                          </svg>
                        </label>
                      </div>

                      <div class="star-rate__item">
                        <input
                          id="star-4"
                          name="star-rate"
                          type="radio"
                          value="4"
                        />
                        <label>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            stroke="#A46C46"
                            fill="#fff"
                          >
                            <path
                              d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                            />
                          </svg>
                        </label>
                      </div>

                      <div class="star-rate__item">
                        <input
                          id="star-3"
                          name="star-rate"
                          type="radio"
                          value="3"
                        />
                        <label>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            stroke="#A46C46"
                            fill="#fff"
                          >
                            <path
                              d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                            />
                          </svg>
                        </label>
                      </div>

                      <div class="star-rate__item">
                        <input
                          id="star-2"
                          name="star-rate"
                          type="radio"
                          value="2"
                        />
                        <label>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            stroke="#A46C46"
                            fill="#fff"
                          >
                            <path
                              d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                            />
                          </svg>
                        </label>
                      </div>

                      <div class="star-rate__item">
                        <input
                          id="star-1"
                          name="star-rate"
                          type="radio"
                          value="1"
                        />
                        <label>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            stroke="#A46C46"
                            fill="#fff"
                          >
                            <path
                              d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                            />
                          </svg>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="product_review__text">
                    Це просто ВАУ! Ціни доступні, асортимент дуууже крутий і
                    різноманітних, продавці не намагаються "втюхати" те, що
                    треба продати... Мені підібрали за лічені хвилини саме
                    те, що шукала і в межах мого бюджету
                  </div>
                </div>

                <div class="product_review">
                  <div class="product_review__info flex">
                    <div class="product_review__title medium">
                      Russell Sprout
                    </div>
                    <div class="star-rate readonly" data-rating-value="3">
                      <div class="star-rate__item">
                        <input
                          id="star-5"
                          name="star-rate"
                          type="radio"
                          value="5"
                        />
                        <label>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            stroke="#A46C46"
                            fill="#fff"
                          >
                            <path
                              d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                            />
                          </svg>
                        </label>
                      </div>

                      <div class="star-rate__item">
                        <input
                          id="star-4"
                          name="star-rate"
                          type="radio"
                          value="4"
                        />
                        <label>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            stroke="#A46C46"
                            fill="#fff"
                          >
                            <path
                              d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                            />
                          </svg>
                        </label>
                      </div>

                      <div class="star-rate__item">
                        <input
                          id="star-3"
                          name="star-rate"
                          type="radio"
                          value="3"
                        />
                        <label>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            stroke="#A46C46"
                            fill="#fff"
                          >
                            <path
                              d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                            />
                          </svg>
                        </label>
                      </div>

                      <div class="star-rate__item">
                        <input
                          id="star-2"
                          name="star-rate"
                          type="radio"
                          value="2"
                        />
                        <label>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            stroke="#A46C46"
                            fill="#fff"
                          >
                            <path
                              d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                            />
                          </svg>
                        </label>
                      </div>

                      <div class="star-rate__item">
                        <input
                          id="star-1"
                          name="star-rate"
                          type="radio"
                          value="1"
                        />
                        <label>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            stroke="#A46C46"
                            fill="#fff"
                          >
                            <path
                              d="M3.64877 11.9306C3.3781 12.0688 3.07127 11.8256 3.1261 11.5164L3.7071 8.20482L1.24135 5.85574C1.01093 5.63582 1.13052 5.23449 1.43968 5.19074L4.86793 4.70365L6.39627 1.67499C6.42542 1.61357 6.47139 1.56168 6.52885 1.52535C6.58632 1.48901 6.65291 1.46973 6.72089 1.46973C6.78888 1.46973 6.85547 1.48901 6.91293 1.52535C6.97039 1.56168 7.01637 1.61357 7.04552 1.67499L8.57502 4.70365L12.0038 5.19074C12.3124 5.23449 12.432 5.63582 12.201 5.85574L9.73585 8.20482L10.3169 11.5158C10.3711 11.8262 10.0648 12.0688 9.79418 11.93L6.7206 10.3509L3.64877 11.9306Z"
                            />
                          </svg>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="product_review__text">
                    Це просто ВАУ! Ціни доступні, асортимент дуууже крутий і
                    різноманітних, продавці не намагаються "втюхати" те, що
                    треба продати... Мені підібрали за лічені хвилини саме
                    те, що шукала і в межах мого бюджету
                  </div>
                </div>
              </div> -->

              <!-- if there are no reviews -->
              <div class="product_reviews__no-items">
                <p>Немає відгуків про цей товар.</p>

                <!-- if unauthorized -->

                <!-- <p>
                  Будь ласка <a href="#">авторизуйтесь</a> або
                  <a href="#">зареєструйтеся</a> щоб залишити відгук.
                </p> -->

                <!-- if authorized  -->
                <button class="modal_open" data-href="review-write-modal">
                  Залишити відгук про товар
                </button>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="catalog_slider">
  <div class="container">
    <div class="slider__wrapper">
      <div class="info_for_product">
        <div class="info_for_product_title medium color_black">
          Схожі товари, які вам можуть сподобатися
        </div>
        <div class="info_for_product_subtitle small color_black_sub">
          Оберіть всі ідеальний варіант килими
        </div>
        <a href="{% url 'catalog' %}" class="info_for_product_btn medium color_gold">
          Переглянути каталог
        </a>
      </div>
      <div class="swiper blog-swiper catalog-swiper">
        <div class="slider__block swiper-wrapper">
          {% for related_product in product.related_products.all %}
          <div
            class="slider_item cart_item swiper-slide"
            data-product-id="{{ related_product.product.id }}"
          >
            <a href="{{ related_product.product.get_absolute_url }}">
              <div class="cart_item_new color_white small">Новинка</div>
              <div class="cart_item_img">
                <img src="/static/utils/assets/img.png" alt="" />
              </div>
              <div class="cart_item_price__block">
                <div
                  class="cart_item_price medium color_gold"
                  {% for attr in related_product.product.product_attr.all %}
                  data-item-{{ forloop.counter }}={{ attr.get_total_price }}
                  {% endfor %}
                >
                  {{ related_product.product.product_attr.first.get_total_price }} грн
                </div>
                <div
                  class="cart_item_procent medium color_gold"
                  {% for attr in related_product.product.product_attr.all %}
                  {% if attr.discount %}
                  data-item-{{ forloop.counter }}="{{ attr.discount }}%"
                  {% endif %}
                  {% endfor %}
                >
                  {% if related_product.product.product_attr.first.discount %}
                  {{ related_product.product.product_attr.first.discount }}%
                  {% endif %}
                </div>
                <div
                  class="cart_item_old_price medium color_black_sub"
                  {% for attr in related_product.product.product_attr.all %}
                  {% if attr.discount %}
                  data-item-{{ forloop.counter }}="{{ attr.price }}"
                  {% endif %}
                  {% endfor %}
                >
                  {% if related_product.product.product_attr.first.discount %}
                  {{ related_product.product.product_attr.first.price }} грн
                  {% endif %}
                </div>
                <div class="cart_item_add_to_favorite active">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_703_57)">
                      <path
                        d="M8 2.74799L7.283 2.01099C5.6 0.280988 2.514 0.877988 1.4 3.05299C0.877 4.07599 0.759 5.55299 1.714 7.43799C2.634 9.25299 4.548 11.427 8 13.795C11.452 11.427 13.365 9.25299 14.286 7.43799C15.241 5.55199 15.124 4.07599 14.6 3.05299C13.486 0.877988 10.4 0.279988 8.717 2.00999L8 2.74799ZM8 15C-7.333 4.86799 3.279 -3.04001 7.824 1.14299C7.884 1.19799 7.943 1.25499 8 1.31399C8.05642 1.25504 8.11513 1.19833 8.176 1.14399C12.72 -3.04201 23.333 4.86699 8 15Z"
                        fill="#A46C46"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_703_57">
                        <rect width="16" height="16" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
              <div class="cart_item_title small color_black">
                {{ related_product.product.title }}
              </div>
            </a>
            <div class="sizes-block cart_item_size__block">
              {% for attr in related_product.product.product_attr.all %}
              {% if forloop.first %}
              <div data-item="{{ forloop.counter }}" data-novelty="true" class="size-label active">
                {{ attr.size }}
              </div>
              {% else %}
              <div data-item="{{ forloop.counter }}" data-novelty="true" class="size-label">
                {{ attr.size }}
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button swiper-button-next"></div>
        <div class="swiper-button swiper-button-prev"></div>
      </div>

      <a href="{% url 'catalog' %}" class="info_for_product_btn mob-btn medium color_gold">
        Переглянути каталог
      </a>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.catalog_slider -->
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/product/index.js"></script>
{% endblock scripts %}
