{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/profile/index.css" />
{% endblock styles %}{% block content %}
<section class="profile first_section">
  <div class="modal-overlay">
    <div class="profile-modal modal modal__block">
      <button class="profile-modal__close-btn modal__close-btn modal_close">
        <img src="/static/utils/assets/close.svg" alt="close" />
      </button>

      <div class="modal__content">
        <div class="profile-modal__container">
          <form
            class="profile-modal__form validation__block"
          >
            <div
              class="profile-modal__form-edit-profile profile-modal__form-block"
            >
              <h3 class="profile-modal__form-title modal__title">
                Редагувати дані
              </h3>

              <div class="profile-modal__form-fields">
                <div
                  class="profile-modal__form-field modal__field validation_container"
                >
                  <input
                    id="first_name"
                    class="input-transparent validation_input"
                    name="first_name"
                    type="text"
                    data-type="name"
                    placeholder="Ім’я"
                    required
                  />
                </div>

                <div
                  class="profile-modal__form-field modal__field validation_container"
                >
                  <input
                    id="last_name"
                    class="input-transparent validation_input"
                    name="last_name"
                    type="text"
                    data-type="name"
                    placeholder="Прізвище"
                  />
                </div>

                <div
                  class="profile-modal__form-field modal__field validation_container"
                >
                  <input
                    id="phone_number"
                    class="input-transparent validation_input"
                    name="phone_number"
                    type="tel"
                    data-type="phone"
                    placeholder="Телефон"
                    required
                  />
                </div>

                <div
                  class="profile-modal__form-field modal__field validation_container"
                >
                  <input
                    id="email"
                    class="input-transparent validation_input"
                    name="email"
                    type="email"
                    data-type="email"
                    placeholder="Емаіл"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="profile-modal__form-buttons">
              <button
                type="submit"
                class="profile-modal__save-btn profile-modal__save-changes-btn btn-gold validation_btn"
              >
                Зберегти зміни
              </button>
            </div>
          </form>

          <form
          action="/change-password"
          class="profile-modal__form validation__block"
        >   
          <div
            class="profile-modal__form-change-password profile-modal__form-block"
          >
            <h3 class="profile-modal__form-title modal__title">
              Змінити пароль
            </h3>

            <div class="profile-modal__form-fields">
              <div
                class="profile-modal__form-field modal__field validation_container"
              >
                <input
                  id="password"
                  class="input-transparent validation_input"
                  name="password"
                  type="password"
                  data-type="password1"
                  placeholder="Новий пароль"
                />
              </div>

              <div
                class="profile-modal__form-field modal__field validation_container"
              >
                <input
                  id="password2"
                  class="input-transparent validation_input"
                  name="password2"
                  type="password"
                  data-type="password2"
                  placeholder="Підтвердьте пароль"
                />
              </div>
            </div>
          </div>

          <div class="profile-modal__form-buttons">
            <button
              type="submit"
              class="profile-modal__save-btn profile-modal__update-password-btn btn-gold validation_btn"
            >
              Оновити пароль
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="bread-crumbs">
      <a href="{% url 'index' %}" class="color_black_sub">Головна</a>
      <span class="color_black_sub">/</span>
      <a href="{% url 'profile' %}" class="color_gold">Профіль</a>
    </div>

    <div class="profile__center">
      <div class="profile__sidebar">
        <div class="profile__user-info">
          <div class="profile__user-info-left">
            <p class="profile__user-name">{{ user.first_name }} {{ user.last_name }}</p>
            <p class="profile__user-phone">{{ user.phone_number }}</p>
          </div>
          <div class="profile__user-info-right">
            <button
              class="profile__user-edit-btn modal_open"
              data-href="profile-modal"
              title="Редагувати"
            >
              <img
                src="/static/utils/assets/edit-bordered.svg"
                alt="edit"
              />
              <span>Редагувати</span>
            </button>
          </div>
        </div>

        <div class="profile__sidebar-bottom">
          <a href="{% url 'logout' %}" class="profile__user-exit-btn">
            <img src="/static/utils/assets/exit.svg" alt="exit" />
            <span>Вийти</span>
          </a>
        </div>
      </div>
      <div class="orders profile__orders">
        <div class="title">
          <h1 class="profile__title bold">Мої замовлення</h1>
        </div>

        <div class="orders__items accordion_container">
          {% for order in orders %}
          <div class="orders__block accordion accordion_content__block">
            <div class="orders__block-head accordion__title">
              <div class="orders__block-head-left">
                <div class="orders__block-head-left-top color_black_sub">
                  <p class="orders__block-id">
                    <span class="orders__block-id-key">№</span>
                    <span class="orders__block-id-value">
                      {{ order.order_number }}
                    </span>
                  </p>

                  <p class="orders__block-date">
                    <span class="orders__block-date-key">від</span>
                    <span class="orders__block-date-value">{{ order.created|date:"d.m.Y" }}</span>
                  </p>
                </div>
                <!-- If the order is cancelled, then class "color_black" is used, in all other cases class "color_gold"  -->
                <p class="orders__block-status {% if order.status == 'Скасовано' %}color_black{% else %}color_gold{% endif %} medium">
                  {{ order.status }}
                </p>
              </div>

              <div class="orders__block-head-center">
                <div class="orders__block-total-sum">
                  <p class="orders__block-total-sum-title color_black_sub">
                    Сума замовлення
                  </p>
                  <p
                    class="orders__block-total-sum-value color_black medium"
                  >
                    {{ order.total_price }} грн.
                  </p>
                </div>
              </div>

              <div class="orders__block-head-right">
                <!-- max product count === 3 -->
                <div
                  class="orders__block-products orders__block-products-head"
                >
                  {% for cart_product in order.cart.cart_products.all %}
                  <div class="orders__block-product">
                    <div class="orders__block-product-left">
                      <a href="{{ cart_product.product_attr.product.get_absolute_url }}">
                        <div class="orders__block-product-img">
                          <img src="/static/utils/assets/img.png" />
                        </div>
                      </a>
                    </div>
                  </div>
                  {% endfor %}
                </div>

                <div class="orders__block-chevron-icon">
                  <img
                    src="/static/utils/assets/chevron-down.svg"
                    alt="chevron-down"
                  />
                </div>
              </div>
            </div>

            <div class="orders__block-body accordion_content">
              <div class="orders__block-body-left">
                <div class="orders__block-info">
                  <p class="orders__block-info-title color_black_sub">
                    Інформація про замовлення
                  </p>

                  <div class="orders__block-info-items">
                    <div
                      class="orders__block-address orders__block-info-item"
                    >
                      <p class="orders__block-address-warehouse">
                        {{ order.address }}
                      </p>
                      <p class="orders__block-address-settlement">
                        вул. Центральна, 98 (Котеджне містечко), Осещина
                      </p>
                    </div>

                    <div
                      class="orders__block-contacts orders__block-info-item"
                    >
                      <p class="orders__block-contacts-name">
                        {{ order.name }} {{ order.surname }}
                      </p>
                      <p class="orders__block-contacts-phone">
                        {{ order.phone }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="orders__block-body-right">
                <div class="orders__block-products-body">
                  <p class="orders__block-products-title color_black_sub">
                    Товари
                  </p>
                  <div class="orders__block-products">
                    {% for cart_product in order.cart.cart_products.all %}
                    <div class="orders__block-product">
                      <div class="orders__block-product-left">
                        <a href="{{ cart_product.product_attr.product.get_absolute_url }}">
                          <div class="orders__block-product-img">
                            <img src="/static/utils/assets/img.png" />
                          </div>
                        </a>
                      </div>
                      <div class="orders__block-product-center">
                        <a href="{{ cart_product.product_attr.product.get_absolute_url }}">
                          <h4 class="orders__block-product-title small">
                            {{ cart_product.product_attr.product.title }}
                          </h4>
                        </a>

                        <ul class="orders__block-product-sizes">
                          <li class="size-label disabled">{{ cart_product.product_attr.size }}</li>
                        </ul>
                      </div>

                      <div class="orders__block-product-right">
                        <div
                          class="orders__block-product-price orders__block-product-right-item"
                        >
                          <p
                            class="orders__block-product-price-title color_black_sub"
                          >
                            Ціна
                          </p>
                          {% if cart_product.product_attr.discount %}
                          <p class="orders__block-product-price-current">
                            {{ cart_product.product_attr.get_total_price }} грн
                          </p>
                          <p
                            class="orders__block-product-price-old color_black_sub"
                          >
                            {{ cart_product.product_attr.price }} грн
                          </p>
                          {% else %}
                          <p class="orders__block-product-price-current">
                            {{ cart_product.product_attr.get_total_price }} грн
                          </p>
                          {% endif %}
                        </div>

                        <div
                          class="orders__block-product-quantity orders__block-product-right-item"
                        >
                          <p
                            class="orders__block-product-quantity-title color_black_sub"
                          >
                            Кількість
                          </p>
                          <p class="orders__block-product-quantity-value">
                            {{ cart_product.quantity }}
                          </p>
                        </div>

                        <div
                          class="orders__block-product-sum orders__block-product-right-item"
                        >
                          <p
                            class="orders__block-product-sum-title color_black_sub"
                          >
                            Сума
                          </p>
                          <p class="orders__block-product-sum-value">
                            {{ cart_product.cart_product_total_price }} грн
                          </p>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                  <div class="orders__block-body-details">
                    <p class="orders__block-payment">
                      <span
                        class="orders__block-payment-title color_black_sub"
                      >
                        Оплата
                      </span>
                      <span class="orders__block-payment-value">
                        {{ order.payment_type }}
                      </span>
                    </p>
                    <p class="orders__block-delivery">
                      <span
                        class="orders__block-delivery-title color_black_sub"
                      >
                        Доставка
                      </span>
                      <span class="orders__block-delivery-value">
                        Безкоштовно
                      </span>
                    </p>
                    <p class="orders__block-total-price">
                      <span
                        class="orders__block-total-price-title color_black_sub"
                      >
                        Загальна сума
                      </span>
                      <span
                        class="orders__block-total-price-value color_gold bold"
                      >
                        {{ order.total_price }} грн.
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/profile/index.js"></script>
{% endblock scripts %}
