{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/refund/index.css" />
{% endblock styles %}{% block content %}
<section class="refund first_section">
  <div class="container">
    <div class="bread-crumbs">
      <a href="#" class="color_black_sub">Головна</a>
      <span class="color_black_sub">/</span>
      <a href="#" class="color_gold">Повернення</a>
    </div>
    <div class="terms-and-policies">
      <div class="terms-and-policies__sidebar nav-sidebar">
        <ul class="nav-sidebar__items">
          <li>
            <!-- active item has a "color_gold" class  -->
            <a href="#" class="color_black">
              <span>Повернення</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>

          <li>
            <a href="#" class="color_gold">
              <span>Повернення</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>

          <li>
            <a href="#" class="color_black">
              <span>Умови і положення</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>

          <li>
            <a href="#" class="color_black">
              <span>Політика конфіденційності</span>
              <img
                src="/static/utils/assets/chevron-right.svg"
                alt="chevron-right"
              />
            </a>
          </li>
        </ul>
      </div>

      <div class="terms-and-policies__content">
        <div class="title">
          <h1 class="terms-and-policies__title bold">Повернення</h1>
        </div>

        <div class="terms-and-policies__items">
          <div class="terms-and-policies__block-item">
            <div class="terms-and-policies__block-item-text">
              <p>
                Повернення товару здійснюється відповідно до Закону України
                «Про захист прав споживачів».
              </p>
              <p>
                У період 14 днів, не рахуючи дня покупки, можна оформити
                повернення товару на умовах:
              </p>
              <p>Товар не був у експлуатації;</p>
              <p>Збережені всі пломби і ярлики;</p>
              <p>Цілісність комплекту та пакування не порушена;</p>
              <p>Збережено документ, який підтверджує оплату.</p>
            </div>
          </div>

          <div class="terms-and-policies__block-item">
            <h3 class="terms-and-policies__block-item-title color_gold">
              Для повернення товару Вам необхідно:
            </h3>
            <div class="terms-and-policies__block-item-text">
              <ol>
                <li>
                  Звернутися до менеджерів, надати документ, що підтверджує
                  оплату, товар і документ, що засвідчує особу;
                </li>
                <li>Заповнити заяву на повернення;</li>
                <li>Після огляду товару здійснюється повернення коштів;</li>
                <li>
                  При оплаті за товар банківською картою, при поверненні
                  товару обов'язкова наявність карти, з якої була проведена
                  оплата;
                </li>
                <li>
                  Період отримання грошових коштів згідно чинного
                  законодавства.
                </li>
                <li>
                  Товар вироблений за індивідуальним замовленням клієнта
                  поверненню та обміну не підлягає.
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/refund/index.js"></script>
{% endblock scripts %}
