{% extends '_base.html' %}{% block styles %}
<link rel="stylesheet" href="/static/source/pages/success/index.css" />
{% endblock styles %}{% block content %}
<section class="success first_section">
  <div class="success__container container">
    <div class="success__img">
      <img src="/static/utils/assets/success/carpets.png" alt="carpets" />
    </div>
    <div class="success__info">
      <div class="success__info-top">
        <h1 class="success__title color_black bold">
          Замовлення успішно сформоване
        </h1>
        <h2 class="success__subtitle color_gold small">
          Ваше замовлення комплектується та незабаром вирушить до вас
        </h2>
      </div>

      <div class="success__info-bottom">
        <button class="success__back-to-main-btn btn btn-gold medium">
          Повернутися на головну
        </button>
        <button class="success__cabinet-btn btn btn-underline medium">
          Перейти в особистий кабінет
        </button>
      </div>
    </div>
  </div>
</section>
{% endblock content %}{% block scripts %}
<script src="/static/source/pages/success/index.js"></script>
{% endblock scripts %}
