button {
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.btn {
  font-size: 15px;
  border: none;
  outline: none;
  background: none;
  transition: all 0.3s;

  &-gold {
    background: #a46c46;
    color: #fff;
    font-family: "Futura PT Medium", sans-serif;

    cursor: pointer;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    width: 240px;
    padding: 15px 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #a46c46;
    border-radius: 8px;
    transition: all 0.25s;

    &:hover {
      color: #a46c46;
      background: transparent;
    }

    &:disabled {
      &:hover {
        background: #a46c46;
        color: #fff;
      }
    }

    &-bordered {
      background-color: transparent;
      color: #a46c46;
      border: 1px solid #a46c46;

      &:hover {
        color: #fff;
        background-color: #a46c46;
      }

      &:disabled {
        &:hover {
          background-color: transparent;
          color: #a46c46;
        }
      }
    }

    @media (max-width: 720px) {
      padding: 12px 45px;
      font-size: 12px;
    }
  }

  &-yellow {
    display: inline-block;
    padding: 15px 30px;
    background: #f1c86e;
    box-shadow: 0px 11px 10px rgba(113, 140, 130, 0.1);
    color: #23262f;

    &:hover {
      background-color: #c5a96b;
    }

    &:disabled {
      &:hover {
        background: #f1c86e;
      }
    }
  }

  &-smal {
    &-yellow {
      color: #ddb968;
    }
  }

  &-next {
    display: flex;
    align-items: center;
    color: #eeeeee;
    cursor: pointer;

    & .text {
      color: #eeeeee;
    }

    & * {
      cursor: pointer;
    }

    & svg {
      cursor: pointer;
      transition: 0.3s;
      margin-left: 7px;
      width: 31px;
      transform: translate(0, 0);
      transition: 0.3s;
    }

    &:hover {
      & svg {
        transform: translate(10px, 0);
      }
    }

    &:disabled {
      &:hover {
        transform: translate(0, 0);
      }
    }
  }

  &-start {
    cursor: pointer;

    & * {
      cursor: pointer;
    }

    &:hover {
      background: rgba(221, 185, 104, 0.9) !important;
    }

    &:disabled {
      &:hover {
        background: #fff !important;
      }
    }
  }

  &-underline {
    padding: 4px;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: all 0.2s;

    &:hover {
      color: #a46c46;
      border-color: #a46c46;
    }

    &:disabled {
      &:hover {
        color: #23262f;
        border-color: transparent;
      }
    }
  }
}

// Lines

// Flexbox placeholder
.burger {
  background-color: #f1c86e;
  border: none;
  outline: none;
  padding: 17px 15px;

  & .burger_box {
    & span {
      width: 27px;
      height: 4px;
      border-radius: 4px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-transform-origin: center center;
      transform-origin: center center;
      will-change: transform;
      display: block;
      background-color: #fff;

      &:nth-child(2) {
        width: 10px;
        margin: 4px 0;
      }
    }
  }

  &.active {
    & .burger_box {
      transform: rotateZ(136deg);

      & span {
        &:nth-child(1) {
          width: 27px;
          -webkit-transform: rotateZ(90deg) translate(7.5px, 0px);
          transform: rotateZ(90deg) translate(7.5px, 0px);
        }

        &:nth-child(2) {
          width: 27px;
        }

        &:nth-child(3) {
          opacity: 0;
        }
      }
    }
  }
}
