.small {
  font-family: "Futura PT Book", sans-serif;
  font-weight: 400;
}

.medium {
  font-family: "Futura PT Medium", sans-serif;
  font-weight: 500;
}

.bold {
  font-family: "Futura PT Bold", sans-serif;
  font-weight: 700;
}

.color {
  &_black {
    color: #453f3a;

    &_sub {
      color: #89817c;
    }
  }

  &_white {
    color: #fffcf2;
  }

  &_gold {
    color: #a46c46;
  }
}

.font-size {
  &-14 {
    font-size: 14px;
  }

  &-18 {
    font-size: 18px;
  }

  &-26 {
    font-size: 26px;
  }

  &-36 {
    font-size: 36px;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;

  h1 {
    font-family: "Futura PT Bold", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #453f3a;
  }

  span {
    margin-left: 20px;
    color: #89817c;
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 24px;
      line-height: normal;
    }
  }

  @media (max-width: 720px) {
    flex-direction: column;
    align-items: start;
    justify-content: center;

    h1 {
      font-size: 20px;
    }

    span {
      margin: 4px 0 0;
    }
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
