.small {
  font-family: "Futura PT Book", sans-serif;

}

.medium {
  font-family: "Futura PT Medium", sans-serif;

}

.bold {
  font-family: "Futura PT Bold", sans-serif;
}


.color {
  &_black {
    color: #453f3a;

    &_sub {
      color: #89817c;
    }
  }

  &_white {
    color: #fffcf2;
  }

  &_gold {
    color: #a46c46;
  }
}

.font-size {
  &-18 {
    font-size: 18px;
  }

  &-36 {
    font-size: 36px;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #453F3A;
  }
  
  span {
    margin-left: 20px;
    color: #89817c;
  }
}