.blog {
  display: flex;
  width: 100%;

  &_item {
    display: block;
    transition: all 0.3;
    width: 32%;
    margin: 1%;

    &:hover {
      transform: scale(1.02);
    }

    &_img {
      width: 100%;
      height: 55%;
      max-height: 300px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    &_info {
      padding: 0 5px;
    }

    &_title {
      margin: 16px 0 0;
      color: #453f3a;
      font-size: 22px;
      line-height: 130%;
      font-weight: 400;
    }

    &_text {
      font-size: 20px;
      line-height: 130%;
      color: #89817c;
      margin-top: 8px;
    }
  }
}
