.cover {
  &_img {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: max-content;
  }
  &_title {
    font-size: 72px;
    line-height: 92px;
    margin-bottom: 20px;
  }
  &_subtitle {
    font-size: 22px;
  }
}

.blog-section {
  .mob-blog {
    display: none;
  }
}

@media (max-width: 1440px) {
  .blog-section {
    .blog {
      display: none;
    }

    .mob-blog {
      display: flex;
    }
  }
}

@media (max-width: 1024px) {
  .cover_img {
    max-height: 560px;
    height: calc(100vh - 58px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 835px) {
  .cover {
    &__block {
      padding: 0px 20px;
      width: 100%;
    }
    &_title {
      font-size: 35px;
      line-height: 52px;

      margin-bottom: 0;
    }
    &_subtitle {
      font-size: 16px;
    }
  }
}

@media (max-width: 600px) {
  .blog-section {
    margin-bottom: 78px;
  }
}

@media (max-width: 380px) {
  .cover_title {
    font-size: 28px;
    line-height: 46px;
  }
}
