.success {
  padding: 142px 0 72px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 775px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    min-width: 480px;
    max-width: 480px;
    margin-left: 104px;

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 263px;
      margin-top: 33px;
    }
  }

  &__title {
    margin: 0;
    font-size: 48px;
    line-height: 96%;
  }

  &__subtitle {
    max-width: 360px;
    margin: 24px 0 0;
    font-size: 18px;
    line-height: 130%;
  }

  &__back-to-main-btn {
    width: 100%;
  }

  &__cabinet-btn {
    max-width: 189px;
    margin-top: 12px;
    font-size: 14px;
  }

  @media (max-width: 1440px) {
    &__info {
      margin-left: 50px;
    }
  }

  @media (max-width: 1024px) {
    padding: 174px 0 105px;

    &__container {
      flex-direction: column-reverse;
    }

    &__img {
      margin-top: 64px;
      max-width: 440px;
    }

    &__info {
      min-width: auto;
      margin: 0 auto;
      text-align: center;

      &-top {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-bottom {
        margin: 24px auto 0;
      }
    }

    &__title {
      font-size: 36px;
    }

    &__subtitle {
      margin: 12px 0 0;
      font-size: 16px;
    }

    &__cabinet-btn {
      margin-top: 8px;
    }
  }

  @media (max-width: 720px) {
    &__img {
      max-width: 326px;
    }

    &__info {
      max-width: none;
    }

    &__title {
      max-width: 200px;
      font-size: 20px;
    }

    &__subtitle {
      max-width: 240px;
      font-size: 14px;
    }

    &__cabinet-btn {
      font-size: 12px;
    }
  }

  @media (max-width: 0px) {
    // padding: 142px 0 72px;

    &__container {
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }

    &__img {
      // max-width: 775px;
      // max-height: 937px;

      img {
        // width: 100%;
        // height: 100%;
      }
    }

    &__info {
      // max-width: 480px;
      // margin-left: 104px;

      &-top {
      }

      &-bottom {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // max-width: 263px;
        // margin-top: 33px;
      }
    }

    &__title {
      // margin: 0;
      // font-size: 48px;
      // line-height: 96%;
    }

    &__subtitle {
      // max-width: 360px;
      // margin: 24px 0 0;
      // font-size: 18px;
      // line-height: 130%;
    }

    &__back-to-main-btn {
      // width: 100%;
      // font-size: 16px;
    }

    &__cabinet-btn {
      // max-width: 189px;
      // margin-top: 12px;
      // font-size: 14px;
    }
  }
}
