.success {
  padding: 142px 0 72px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 775px;
    max-height: 937px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    max-width: 480px;
    margin-left: 104px;

    &-top {
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 263px;
      margin-top: 33px;
    }
  }

  &__title {
    margin: 0;
    font-size: 48px;
    line-height: 96%;
  }

  &__subtitle {
    max-width: 360px;
    margin: 24px 0 0;
    font-size: 18px;
    line-height: 130%;
  }

  &__back-to-main-btn {
    width: 100%;
    font-size: 16px;
  }

  &__cabinet-btn {
    max-width: 189px;
    margin-top: 12px;
    font-size: 14px;
  }
}
