.size-label {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  width: 100%;
  background-color: #fffcf2;
  padding: 4px 8px;
  color: #453f3a;
  font-size: 14px;
  line-height: 130%;
  border-radius: 50px;
}
