.size-label {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  width: 100%;
  background-color: #fffcf2;
  padding: 4px 8px;
  color: #453f3a;
  font-size: 14px;
  line-height: 130%;
  border-radius: 50px;

  @media (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 600px) {
    max-width: 64px;
    font-size: 12px;
  }

  @media (max-width: 390px) {
    max-width: 56px;
    font-size: 10px;
  }
}
